[2021-10-01 06:54] hosseinfani opened #1 "Code migration from personal github to fani's lab"
We need to migrate the code from personal github accounts to fani's lab into one of the assigned branches.

Hi Arman & Dhwani,
This issue is created from your project inside the fani's lab organization. We can try this way to add todo tasks to the project and monitor its progress. Hope you find this way useful.

Best,
hf

[2021-10-01 16:08] karan96 opened #2 "Migrating the code from personal Github to the lab --> USPT branch."
Migrating the code from personal Github to the USPT branch still pending.

[2021-10-01 16:43] karan96 opened #3 "Inferring strategies from skills"
-1.1 Use the last class name(example:- Weather/Education)

[2021-10-01 18:56] hosseinfani opened #4 "nan for train and loss values when training dnn"
At some point during the first epoch of dnn training on the whole dblp dataset (even with filtering), the training loss and validation loss becomes very large negative number and finally nan.

python -u main.py -data=./../raw/dblp.v12.json -domain=dblp -model=dnn -filter=1 -min_team_size=3 -min_team=3

@VaghehDashti would you please upload or put part of the log file that show the bug

[2021-10-01 19:03] hosseinfani opened #5 "- remove outliers based on sparse matrix or teams.pkl at team.py"
ideally, for filtering, we need the sparse matrix but the indexes should be changed accordingly. Currently, we do this when generating the pickle file for the whole dataset at reading time

[2021-10-01 19:05] hosseinfani opened #6 "- temporal stats at team.py and on sparse matrix"
temporal stats seem to be general to all domains. so, they can be moved to the parent class

also, we can add temporal info to the indexes for extracting the stats.

[2021-10-01 19:06] hosseinfani opened #7 "- choose how to form skills for teams on a policy per domain"
based on title
    based on abstract
    based on keywords
    based on fos/genre/...

[2021-10-01 19:07] #1 closed, assigned to VaghehDashti

[2021-10-02 02:27] #5 closed, assigned to hosseinfani

[2021-10-06 22:57] hosseinfani opened #16 "integrate loading imdb dataset by Dhwani"

[2021-10-06 23:17] #16 closed, assigned to dhwanipatel14

[2021-10-07 00:59] hosseinfani opened #20 "stats on imdb"
Public link to download: https://datasets.imdbws.com/

In this dataset, `title` stands for any type of moving pictures and id is ``tconst`` and ``name`` stands for a person (cast/crew) and id is ``nconst``.

``titleType`` distinguishes the different types of moving pictures including: movie, short, video game, video, tvMovie, tvepisode, other. We only considered ``movie``.

**Stats:  (title.basics

[2021-10-07 01:00] hosseinfani opened #21 "stats on dblp"
Public link to download:
- https://originalstatic.aminer.cn/misc/dblp.v12.7z
- https://www.aminer.org/citation

![image](https://user-images.githubusercontent.com/8619934/144217360-00675fc0-da7e-42cb-8140-424a46fd7c98.png)

**Stats:**

|Stat| Value|
|-----|------|
|#Publications (teams)| 4,877,383|
|#Unique Authors (members) |5,022,955|
|#Unique Field of Study (FOS) (skills)|89,504|
|Avg #Author p

[2021-10-07 01:00] hosseinfani opened #22 "stats on uspt"
Public link to download: https://patentsview.org/download/data-download-tables

Metadata (data dictionary) that explains the schema, columns, data types can be found at https://patentsview.org/download/data-download-dictionary

The main table is ``patent`` whose ``type`` column distinguishes different types of patents including:
- utility
- design
- ...

Also, ``subgroup_id`` is the foreign key to

[2021-10-07 01:05] hosseinfani opened #23 "Reproduce Rad et al's (vBnn) baseline on all datasets"
We study the effect of negative sampling on variational neural nets

[2021-10-07 01:06] hosseinfani opened #24 "non-variational and variational feed-forward baseline for different negative sampling strategies"
We study the effect of negative sampling on non-variational neural nets

[2021-10-07 01:18] hosseinfani opened #25 "toy example on uspt"
toy example set of at least 10 patents from 2-3 three locations to showcase what  the output result would be after a successful run of a geo-aware team formation

[2021-10-07 18:46] hosseinfani opened #26 "complete main readme and per important folder"
We need to include all steps of our pipeline in the main readme and add a separate readme to each important folder.

[2021-10-08 05:15] hosseinfani opened #30 "@dhwanipatel14, speed up iterating over rows in imdb dataframe"
Hi Dhwani,
I've read this article (https://towardsdatascience.com/400x-time-faster-pandas-data-frame-iteration-16fb47871a0a) that proposes some faster methods to loop over dataframe rows.

Can you please improve our current code in Movie.read_data() using the first suggested method (using index) and see whether we can have speed up

Thanks.

[2021-10-08 06:08] hosseinfani opened #31 "Using convertors in pandas.read_csv()"
Hi @dhwanipatel14
As you see in this line, https://github.com/fani-lab/neural_team_formation/blob/d577a16899f17183ca5a4cb066ccd09cd1e6ddcf/src/cmn/movie.py#L45

and the lines below, we load tsv files into columns of dataframe and later we process the tconst and nconst to make them numbers. Also, replace space with '_' for name of cast/crew at seen in the below lines.

https://github.com/fani-lab/n

[2021-10-08 14:19] Pax636 opened #32 "@Pax636, @lilizhu1, @xcyyygithub,"
@Pax636, @lilizhu1, @xcyyygithub,
Self-study sparse matrix creation used in team.py at
https://github.com/fani-lab/neural_team_formation/blob/4fd4f6847200784cd050527c7a78ece0362b3f1a/src/cmn/team.py#L129

- What is the input looks like?
- What is the output looks like?
- How does the bucketing help?
- How does parallel run vs. sequential run help?

[2021-10-11 12:27] #30 closed, assigned to dhwanipatel14

[2021-10-13 06:36] #31 closed, assigned to dhwanipatel14

[2021-10-15 03:10] #4 closed, assigned to hosseinfani

[2021-10-15 03:12] #7 closed, assigned to nobody

[2021-10-16 07:46] hosseinfani opened #46 "Reproduce Rad et al's (vBnn) baseline for different negative sampling strategies"

[2021-10-23 16:04] VaghehDashti opened #50 "Parallel generation of sparse vectors for the complete dblp dataset on the server"
I tried various hyperparameters to generate the sparse vecs on the server, which resulted in OOM error that would kill one of the several processes, while others would keep running until the end, but because one of the processes were already killed, they would just wait for that one indefinitely and would not generate the pickle as a result.
These are some of the hyperparameters I tried which thre

[2021-10-23 16:14] VaghehDashti opened #51 "IR metrics for team formation using Pytrec_eval"
Pytrec-eval is a well-known library which is a wrapper on the trec library which has been written in C. As a result, it's much more efficient than implementing the metrics from scratch.

[2021-10-23 16:20] VaghehDashti opened #52 "Generating the evaluation metrics on the test set on server"
With 'min_nteam':10 and 'min_team_size': 3, we would have almost 890k teams in our sparse matrix. Computing the metrics for this hyperparameters threw an OOM error on the server.
`[Tue Oct 19 18:42:33 2021] oom-kill:constraint=CONSTRAINT_NONE,nodemask=(null),cpuset=/,mems_allowed=0-1,global_oom,task_memcg=/docker/b44548db7a7aa6ca4cfc4fe377fad38b1e09ffd6f88519abf37a924fa7ad9a10,task=python,pid=4038

[2021-10-23 16:54] #52 closed, assigned to nobody

[2021-10-23 16:54] #51 closed, assigned to nobody

[2021-10-24 15:47] VaghehDashti opened #53 "Refactoring the code"

[2021-10-25 17:53] Rounique opened #54 "The truth about "Superchickens", Links and Summary."
https://www.youtube.com/watch?v=Vyn_xLrtZaY

https://www.inc.com/scott-mautz/a-biologists-study-of-superchickens-reveals-a-surprising-truth-for-leaders.html

[2021-10-25 18:44] dhwanipatel14 opened #55 "Summarized Paper"

[2021-10-26 14:11] #55 closed, assigned to dhwanipatel14

[2021-10-26 23:01] dhwanipatel14 opened #57 "2019 - SNA - Forming a well-connected team of experts based on a social network graph a novel weighting approach."

[2021-10-26 23:10] dhwanipatel14 opened #58 "2020-CIKM-Learning to Form Skill-based Teams of Experts"

[2021-10-26 23:21] dhwanipatel14 opened #59 "2020-ESWA-A multi-objective optimization approach for the group formation problem"

[2021-10-27 02:57] dhwanipatel14 opened #60 "2020-NIPS-Emergent Reciprocity and Team Formation from Randomized Uncertain Social Preferences"

[2021-10-27 03:03] dhwanipatel14 opened #61 "2021 - ESWA - A unified framework for effective team formation in social networks"
**Title:** A unified framework for effective team formation in social networks
**Venue:** EWSA
**Year:** 2021

**Main Problem**
•	To find unified framework for Team Formation problem towards formulating effective teams of experts.
•	 To find newer and innovative approach to improve accuracy in Team Formation Problem by considering by not only considering existing requirements such as communication

[2021-10-27 21:03] #50 closed, assigned to VaghehDashti

[2021-10-29 02:16] VaghehDashti opened #66 "Exploring various temporal approaches for neural team formation"
Sequence-based vs temporal alignment-based: temporal alignment considers the difference in time but sequence-based just considers the order
Graph-based vs non-graph-based
TODO:
- recurrent temporal nn
- temporal GNN
- evaluation strategy:
    + split the whole data randomly
    + split data until t-1
    + windowed time

[2021-10-29 14:41] hosseinfani opened #67 "OpenNMT for Team Formation Step 1: Installation of OpenNMT and Sample Run"
@Pax636 , @xcyyygithub , @lilizhu1

In this task, we want to see whether a machine translator that translate from a sentence in source language (e.g., english) to a target language (e.g., germany) can be uses to translate skills to experts.

For example, if I have skills [cs, ml, ai], is it able to translate it to [hossein, dongli]?

The first step is to install opennmt, a library in python, and r

[2021-10-30 05:54] karan96 opened #69 "2015-WWW-Replacing the irreplaceable: Fast algorithms for team member recommendation"
Title: Replacing the irreplaceable: Fast algorithms for team member recommendation
Venue: ICWWW
Year: 2015

**Main Problem:**
Authors try to address the problem of TEAM MEMBER REPLACEMENT. Given a team of people embedded in a  social network working on the same task, find an excellent candidate to replace best a team member who becomes unavailable to perform the job for specific reasons.

**Input:

[2021-10-30 15:00] karan96 opened #70 "2009-SIGKDD- Finding a team of experts in social networks"
Title: Finding a team of experts in social networks
Venue: ACM SIGKDD
Year: 2009

**Main Problem**
The author describes the problem formally as Given the set of n individuals X = {1, . . . , n}, a graph G(X,E), and task T, find X0 belongs to X, so that C (X0, T) = T, and the communication cost Cc (X0) is minimized.

**Input**
A set of individuals, a connected graph G(X, E) and a Task T.

**Output*

[2021-10-30 15:32] karan96 opened #71 "2013-SIAM-Finding Affordable and Collaborative Teamsfrom a Network of Experts"
Title: Finding Affordable and Collaborative Teams from a Network of Experts
Venue: SIAM
Year: 2013

**Main Problem**
The authors describe the problem as: - Finding an affordable and collaborative team in an expert network subject to cost constraints (Communication Cost and Personnel Cost). The communication cost between two experts can be defined according to the application's need.

**Input**
A g

[2021-10-30 17:08] karan96 opened #72 "2016 - J Comb Optim - Team selection for prediction tasks"
Title: Team selection for prediction tasks
Venue: Journal of Combinatorial Optimization
Year: 2016

**Main Problem**
In this work, authors consider a situation of team formation in which from an available set of experts, each with a certain level of expertise, authors predict the outcome of a continuous variable O using experts’ opinion. For each prediction task, authors gather experts’ opinions a

[2021-11-05 19:42] VaghehDashti opened #75 "Implementation of vBnn"
As radin's code has lots of problem, we decided to implement vBnn ourselves.
https://nbviewer.org/github/krasserm/bayesian-machine-learning/blob/dev/bayesian-neural-networks/bayesian_neural_networks.ipynb
This tutorial will be the base of our implementation.

[2021-11-09 16:50] #2 closed, assigned to karan96

[2021-11-12 16:29] hosseinfani opened #79 "OpenNMT for Team Formation on Sparse Matrix"
@lilizhu1 @xcyyygithub @Pax636
Now that you could successfully run the opennmt for its sample en-de translation, we want you to run it on our sparse matrix. So, given a sparse matrix each row of which is a team like:

[code]

We want to train a translator between skills and members. This translation assumes that the ``source`` language talks in numbers of skill indexes and the ``target`` language

[2021-11-12 16:33] #67 closed, assigned to Pax636

[2021-11-12 17:22] #69 closed, assigned to karan96

[2021-11-12 17:23] #70 closed, assigned to karan96

[2021-11-14 04:00] #25 closed, assigned to karan96

[2021-11-14 04:09] #26 closed, assigned to VaghehDashti

[2021-11-18 05:05] #71 closed, assigned to karan96

[2021-11-18 05:05] #72 closed, assigned to karan96

[2021-11-19 16:47] karan96 opened #80 "2018 - ICASE - Personalized teammate recommendation for crowdsourced software developers."
Title: Personalized teammate recommendation for crowdsourced software developers
Venue: International Conference on Automated Software Engineering
Year: 2018

**Main Problem**
In this work, the author aims at studying a variant of team formation problem in the context of personalized teammate recommendation for Crowdsourced software developers(CSD). This analysis shows that the preferences of a  d

[2021-11-19 16:48] karan96 opened #81 "Implementing Location in accordance with Skill to NN"

[2021-11-22 22:36] hosseinfani opened #82 "hist of skills of members"
We can prove that the skill_matrix.transpos() multiply by the member_matrix yields the number of time a member acquire a skill through his membership to teams.

https://github.com/fani-lab/neural_team_formation/blob/fd02b239037f32c26b7f6549709436f77f29d359/src/cmn/team.py#L199

Now, we can visualize this huge matrix and see who is more skillful about a given skill!

[2021-11-26 17:14] karan96 opened #85 "Ways of Implementing Location wise Neural Architectures"
Steps to follow: -
1. Use a naive-based approach by zipping a one-hot vector of skills and location as an input.
2. ** Insert name and the approach of the Paper **

[2021-11-28 21:15] hosseinfani opened #87 "There are few teams with empty skills in dblp dataset"
Ways to reproduce the bug raise in #79

[code]

[2021-12-01 10:23] #82 closed, assigned to hosseinfani

[2021-12-01 10:25] #87 closed, assigned to VaghehDashti

[2021-12-03 13:41] karan96 opened #89 "2011 - ACM SIGSPATIAL - Location-based team recommendation in computer gaming scenarios."
Title: Location-based team recommendation in computer gaming scenarios.
Venue: ACM SIGSPATIAL International Workshop on Querying and Mining Uncertain Spatio-Temporal
Year: 2011

**Main Problem**
This paper tries to address the inclusion of location as a constraint or a predictor variable in teammate recommendation models. The authors propose to employ a team recommendation service for facilitating

[2021-12-03 15:55] #89 closed, assigned to karan96

[2021-12-10 06:51] karan96 opened #92 "2020 - WWW - Incorporating geographical location for team formation in social coding sites"
Title: Incorporating geographical location for team formation in social coding sites
Venue: World Wide Web
Year: 2020

**Main Problem**
The author explains the problem of Team Formation with some additional constraints. A team formation problem could be defined as finding the most cost-effective and optimal team members required to form a team based on its requirements and constraints. The author

[2021-12-17 06:21] karan96 opened #93 "[SIG-IRList] CfP LocWeb 2022 @ WWW2022 - 12th International Workshop on Location and the Web"
Prepare Timeline

[2021-12-18 01:58] #53 closed, assigned to VaghehDashti

[2021-12-18 02:03] #46 closed, assigned to VaghehDashti

[2021-12-18 02:05] #23 closed, assigned to VaghehDashti

[2021-12-18 02:07] #75 closed, assigned to VaghehDashti

[2021-12-18 02:15] #92 closed, assigned to karan96

[2021-12-18 02:16] #80 closed, assigned to karan96

[2022-01-06 21:11] karan96 opened #96 "Team Formation - Demo Paper w/Arman"
https://docs.google.com/document/d/1rVIPyPklPKzxBhiGqxmTAqaPxL6X6W4AGTQBJpN_MrU/edit?usp=sharing

[2022-01-09 01:16] hosseinfani opened #98 "UWill Discover"
Presenting our findings in the neural team formation at the upcoming undergrad research conference at the university. Here are two useful links. Please plan accordingly.

General information  https://www.uwindsor.ca/faculty/recruitment/362/uwill-discover-student-research-conference

Past UWill Discover Conference as examples of student work:   https://scholar.uwindsor.ca/uwilldiscover/

[2022-02-04 01:04] #85 closed, assigned to karan96

[2022-02-04 01:13] karan96 opened #99 "Research on heterogeneous GNNs"
Research on how to generate the heterogeneous graph and use it to generate graph embeddings and use them as the encoding part and decoding part.

[2022-02-11 02:30] Rounique opened #102 "2009, KDD, Finding a Team of Experts in Social Networks"

[2022-02-14 11:24] hosseinfani opened #104 "Random baseline"
Just a random model that assigns random numbers of random members to a team, regardless of input skills.

[2022-02-14 11:27] hosseinfani opened #105 "Oop for model definition and benchmark pipeline"
Put the modles under inheritance hierarchy and benefit feom polymorphism in steps of pipeline like train, test, evaluate.

[2022-02-14 15:46] #105 closed, assigned to hosseinfani

[2022-02-14 15:47] #104 closed, assigned to hosseinfani

[2022-02-15 11:37] hosseinfani commented on #102
@Rounique
We already have the summary here: https://github.com/fani-lab/neural_team_formation/issues/70
You can add yours there.

[2022-02-15 11:38] #102 closed

[2022-02-15 22:31] #24 closed

[2022-02-15 22:32] #54 closed

[2022-02-15 22:33] #20 closed

[2022-02-15 22:33] #32 closed

[2022-02-15 23:07] hosseinfani opened #108 "Training Time vs. Inference Accuracy"
Make the test phase of pipeline for a range of epochs.
Currently, the model that is saved in the last epoch is tested and evaluated.

[2022-02-16 05:36] karan96 commented on #99
The second paper I selected, as I thought it, will give me an idea about how meta-paths are calculated in a GNN.
The paper could be a good approach. I will get to reading these.

[2022-02-18 21:27] Rounique opened #109 "2019, WWW, Algorithms for Fair Team Formation in Online Labour"
Marketplaces∗

[2022-02-18 21:38] Rounique commented on #109
**Title**: Algorithms for Fair Team Formation in Online Labour Marketplaces∗
**Venue**: WWW
**Year**: 2019

**Introdcution**:
Researchers have concentrated their efforts on the study of team formation and matching algorithms since companies frequently utilize these platforms to recruit a group of workers to perform a certain assignment.

**Fair Team Formation Definition:**
 Given an online labour

[2022-02-18 22:32] Rounique opened #110 "Different definitions of Fairness in team formation"

[2022-02-23 09:04] hosseinfani opened #112 "Experiment on #nns for different negative sampling heuristics"
We want to study the effect of number of negative samples using different heuristics on team formation

[2022-02-23 09:07] hosseinfani opened #113 "Unigram LM for team formation"
We want to study the application of language models, particularly unigram lm, for team formation. Simply, conditioned on the bag of input subset of skills, we want to generate a bag of output experts.

[2022-02-26 00:46] VaghehDashti commented on #66
1. temporal toy dataset
2. naive baseline:
    2.1. time as a feature input (one-hot encoded)(subset of skill and time)
    2.2. temporal vector representation learning (transfer learning)
    2.3. knn in vector space
3. end-to-end GNN

[2022-02-27 11:27] hosseinfani opened #117 "Counting the number of collaborations using sparse matrix"
We want to know which experts have collaborated with each other the most, using the sparse matrix representation of teams.

[2022-02-27 11:41] hosseinfani opened #118 "Overall OpeNTF flowchart"
We need a flowchart that showcase the overall execution of opentf

[2022-02-27 11:42] hosseinfani opened #119 "Benchmark results of uspt"
We need to include the results of our 16+1 baselines on uspt

[2022-02-27 11:44] hosseinfani opened #120 "Hyperparameter Study"
We need to study the hyperparameters of opentf for neural baselines including:
- Number of layers
- Size of layers
- Number of negative samples
- Number of samples in bnn

[2022-03-02 05:01] hosseinfani opened #121 "Std and Statistical Significance Test on Comparison Results"

[2022-03-04 03:50] Rounique opened #128 "2020, RecSys, The Connection Between Popularity Bias, Calibration, and Fairness in Recommendation"

[2022-03-04 04:50] Rounique commented on #128
**Title:** The Connection Between Popularity Bias, Calibration, and Fairness in Recommendation

**Fairness Definition:** In this work a recommender system is considered unfair if the recommendations do not fairly represent the interest or tastes of one group of users while other groups receive recommendations that are consistent with their preferences.
(we call a recommender system unfair if it ha

[2022-03-04 07:47] karan96 opened #132 "2018 - arXiv -Semi-supervised User Geolocation via Graph Convolutional Networks"
Title: - Semi-supervised User Geolocation via Graph Convolutional Networks
Year: - 2018
Venue: - arXiv

**Main Problem**
The authors addresses the problem of inaccurate prediction of user geo-location. The author base this problem on the unavailability of sometimes text and sometimes network information which leads to researchers using either of the two data but not both for their take on predicti

[2022-03-04 15:43] karan96 opened #133 "2021 - SIGIR - Retrieving Skill-Based Teams from Collaboration Networks"
Title: - Retrieving Skill-Based Teams from Collaboration Networks
Year: - 2021
Venue: - SIGIR

**Main Problem**
The short paper tries to address the problem of Team Formation while having main objective as to learn an efficient mapping between a set of skills and a set of experts to form efficient teams in real time.

**Related Works**
The authors summarizes the limitations that comes from the pre

[2022-03-04 15:46] karan96 commented on #22
The Issue was reopened during this week. The bug I faced is still there but I am continuing my efforts to resolve this asap. If in the case, I am not able to do that I will seek help.

[2022-03-04 15:47] karan96 commented on #119
This is to notify you that this issue was acknowledged and we will be performing the benchmark for USPT during the coming week.

[2022-03-04 16:19] karan96 commented on #133
Updates: - Include in depth-summary of the paper and not the high level view of the paper, like differences from the previous graphs, nodes, meta-paths, heterogeneous graphs, methods they used for graphs plus how they fine-tuned the network and the metrics used.

[2022-03-08 19:29] hosseinfani commented on #132
I know @afshinrahimi from back home.
@afshinrahimi How are you? very long time. small-world, eh?

[2022-03-08 21:29] afshinrahimi commented on #132
Hi Hossein, indeed very very small world. I'm well and happy to see time has not done bad to you much. My phone number is 61469802503. Message me, plz.

[2022-03-09 01:18] #108 closed

[2022-03-11 04:54] karan96 commented on #119
@hosseinfani
Benchmarking of the USPT was started. No NS and Uniform was completed and Unigram was in progress.

[2022-03-11 04:56] karan96 commented on #96
Closing this issue as it has been now done.

[2022-03-11 04:56] #96 closed

[2022-03-11 15:40] hosseinfani commented on #119
@karan96 would you please update this page with the running settings of the benchmark? Thank you.

[2022-03-17 15:38] karan96 commented on #22
@hosseinfani  The issues has been updated with filtered out stats and I have also added the comment to explain the larger number of unique countries. Kindly review and let me know if we are good to close this issue.

[2022-03-17 21:10] VaghehDashti commented on #66
@hosseinfani
Following Stanford's CS224 course on machine learning with graphs, I have studied until week 9 until now. I need to study until week 13 ( Community detection lecture ) which I will do by next week's meeting. At the same time, I'm learning how to code GNNs through exercises from the course.

The first paper I want to read is the following paper as I believe I can get ideas for our prob

[2022-03-17 21:38] VaghehDashti commented on #117
As we discussed before, multiplying the authors per team matrix to its transpose will result in a matrix containing the number of collaborations of each author with other authors in each row and the diagonal of the matrix is the number of papers of each author. The same procedure can be done for skill per team matrix.
[number of authors, number of papers]*[number of papers, number of authors] = [n

[2022-03-19 22:14] hosseinfani commented on #66
@VaghehDashti
please create a summary of the paper when you read it.

[2022-03-19 22:48] hosseinfani commented on #117
@VaghehDashti ya, seems this is correct. we have to put all these with proofs in another short paper :)

#82

[2022-03-19 22:55] hosseinfani commented on #117
@VaghehDashti but this only gives the pairwise collaboration. How about finding the number of times that three (four, five, ...) members together collaborated in teams?

[2022-03-23 19:59] karan96 commented on #22
@hosseinfani Assuming that you had the time to review this issue hence, I am going to close this issue.

[2022-03-23 20:05] karan96 commented on #99
@hosseinfani Hi Dr. Fani, Could you please help me with some of the papers to go through for GNN that might include location, I am having a hard time finding the most relevant paper that most closely align with our research idea.

[2022-03-23 20:05] karan96 commented on #93
@hosseinfani Closing this issue as it is not required anymore.

[2022-03-23 20:05] #93 closed

[2022-03-23 20:23] karan96 commented on #119
@hosseinfani Dr. Fani,
Kindly let me know if you were able to review the benchmark excel I shared with you, so that I could put it into the format same as other datasets' images on our readme section.

[2022-03-23 23:49] hosseinfani commented on #119
@karan96 I left my comments in your ms-team channel. Also here:
Thank you. Here are my comments:
1) there are some absolute 0 in cells. Please investigate why?
2) the AUC tab does not have the results of uspt
3) please create a table for uspt in Paper tab
4) where is the results of random baseline?

[2022-03-23 23:51] hosseinfani commented on #93
@karan96 You were supposed to prepare a submission for this workshop. This was your first due date for a submission that you missed. This means that you're clearly behind your thesis schedule!

[2022-03-24 00:00] hosseinfani commented on #99
@karan96
I would browse the papers in the proceeding of good conferences paper by paper (instead of searching). E.g,
https://dblp.org/db/conf/www/www2021.html

1-(https://dblp.org/pid/50/7648.html):
STAN: Spatio-Temporal Attention Network for Next Location Recommendation. 2177-2185

[2022-03-24 00:01] hosseinfani commented on #22
@karan96
No, I have not reviewed your code yet.

[2022-03-24 03:27] karan96 commented on #93
@hosseinfani I think we should really focus on the positives here. We are behind the schedule "we" developed for ourselves. As I have said, we should always make our deadlines more tight so that we are kept in check at all times and that we can not take any time for granted and be productive instead. The university does not care about when we present our thesis. Not trying to compare, nor looking

[2022-03-24 03:29] karan96 commented on #93
@hosseinfani Also, to reply to your comment, Yes I did not submit for this workshop but I will try my best to make it in the next conference.

[2022-03-25 00:19] VaghehDashti opened #137 "2021 - ACM - Learning Dynamic Embeddings for Temporal Knowledge Graphs"
**Title**: [Learning Dynamic Embeddings for Temporal Knowledge Graphs](https://dl.acm.org/doi/abs/10.1145/3437963.3441741)
**Year**: 2021
**Venue**: ACM

**Introduction**:
A Knowledge Graph (KG) is a collection of factual triplets, with each triplet consisting of a subject entity s, an object entity o and their relation r and denoted by (s, r, o). Knowledge graphs are usually dynamic with new trip

[2022-03-25 00:25] VaghehDashti commented on #66
@hosseinfani
I finished watching the course until week 13. Unfortunately, the community detection lecture formulates the problems an unsupervised ML problem (clustering) which makes it different from our problem definition. Moreover, I summarized the paper mentioned above and created an issue. Their proposed method is cumbersome, and I need some help. We can discuss this further in the weekly meet

[2022-03-25 14:09] hosseinfani commented on #66
@VaghehDashti thanks for the update.
I don't think unsupervised ml is different from our task. we'll discuss it today.

[2022-03-25 14:11] hosseinfani commented on #137
@VaghehDashti this is an instance of a good summary. thanks.

[2022-03-25 15:20] karan96 commented on #22
On Average a random patent is from how many countries

- Count number of unique countries in a patent
- Sum the count / Number of patents

2 unq - 1
3 unq - 2

pat,1 = 2 unq
pat,2 = 3 unq
.
.
.
pat,10 = 5 unq

If you randomly select one patent probably this is the number of unique countries in that patent	(2 + 3 + .... + 5)/10
If you remove the uniqueness then it is same as average number of inven

[2022-03-30 03:21] VaghehDashti opened #139 "2020 - ECIR - Temporal Latent Space Modeling For Community Prediction"
**Title**: [Temporal Latent Space Modeling for Community Prediction](https://link.springer.com/chapter/10.1007/978-3-030-45439-5_49)
**Year**: 2020
**Venue**: ECIR

**Introduction**:
Temporal Community prediction has a wide range of applications such as temporally personalized recommendations and marketing campaigns and provides a higher collective understanding of social network dynamics. This pa

[2022-03-31 01:31] #139 closed

[2022-03-31 01:37] hosseinfani commented on #98
Our submission got accepted for oral and poster presentation. Congrats to:
@dhwanipatel14
@VaghehDashti
@karan96

[2022-03-31 01:37] #98 closed

[2022-04-01 07:09] karan96 opened #140 "2021 - WWW '21 - STAN: Spatio-Temporal Attention Network for Next Location Recommendation"
**Title**: STAN: Spatio-Temporal Attention Network for Next Location Recommendation
**Year**: 2021
**Venue**: WWW '21: The Web Conference 2021

**Introduction**:
Personallized recommendations are being used more and more due to its capability of prediciting users' behavior and recommending useful stuff that mostly assist users with favorable options. In this papers, Authors take into account of th

[2022-04-01 12:42] #140 closed

[2022-04-13 06:36] #61 closed

[2022-04-13 06:36] #57 closed

[2022-04-13 06:36] #58 closed

[2022-04-13 06:36] #59 closed

[2022-04-13 06:36] #60 closed

[2022-04-24 18:29] hosseinfani opened #144 "OpenNMT for OpeNTF"
As a baseline, we can think of team formation as the translation from skill set to member set.
The code has been implemented but needs to be integrated to the pipeline.

Related issue:
#79

[2022-04-25 17:24] hosseinfani opened #145 "Aggregate all the results from folders into a single csv file"
We need to automate the aggregation of results of baselines in different folders into a single csv file.

[2022-04-27 01:52] karan96 opened #146 "2016 - Springer - Recommender Systems by Aggarwal, Charu C"
Title: Recommender Systems
Author: Aggarwal, Charu C
Year: 2016
Venue: Springer

Chapter: - 9. TIME- AND LOCATION-SENSITIVE RECOMMENDER SYSTEMS

Section: - 9.4 Location-Aware Recommender Systems

The author explains that any recommender systems that takes into account location can be considered a special case of context-aware recommeder systems. The author explains few of the common ways in which

[2022-04-27 15:59] hosseinfani commented on #146
@karan96
The book is not recent but it gives you a good direction. I would suggest finding recent papers in each of the categories that this book introduces. Then linked them here and start reading them to come up with a method for our own project.

[2022-05-02 20:29] hosseinfani opened #147 "Preprocessing raw data into Sparse Matrix"
@gabrielrueda
In order to make the raw data ready for machine, we do preprocessing and store the data into a sparse matrix.
Please study how we do this in our codeline.
You can study #79 for more info.

[2022-05-09 15:58] gabrielrueda commented on #147
Hi @hosseinfani,
Here is an update of what I have done so far:
- Downloaded the required python packages for the project on my computer
- Opened the pfl file of teamsvecs.pkl
- Printed out the skill values and member values
- Wrote the output of the src-dataset.txt like the comment from #79: https://github.com/fani-lab/OpeNTF/issues/79#issuecomment-977474405.
- Looked into how to split a dataset i

[2022-05-10 04:02] hosseinfani commented on #147
Hi  @gabrielrueda ,
Thanks for the update.
You don't need to go over the split. As far as you know the internal structure of the space matrix, you're good for the next step.

As you see, each row of the sparse matrix show a `team` and has two main parts: skills and members. The content of the rows are the indexes of skills and members that belong to that team. E.g.,

[code]
When it becomes sparse

[2022-05-11 13:57] gabrielrueda commented on #147
Hi @hosseinfani,
I loaded the indexes.pkl file and noticed that the members were 1_hinton, 2_bengio, 3_lecun,  the skills were image_captioning, deep_learning, image_processing, and the teams were 1,2,3,4...., 30,31.
In the file you could either retrieve a skill, member or team using an index number or vice-versa.

So, I modified the code I created to print out each team with their members and ski

[2022-05-11 20:28] hosseinfani commented on #147
@gabrielrueda
- Now, you got a good understanding of the sparse matrix and the semantics of it. We can move forward to the next task about counting the collaborations (#117).

If you agree, we can close this issue.

[2022-05-11 20:31] gabrielrueda commented on #147
@hosseinfani Yes, I will close the issue, and move on to counting the collaborations.

[2022-05-11 20:31] #147 closed

[2022-05-12 05:23] karan96 opened #148 "2019 - KDD - KGAT: Knowledge Graph Attention Network for Recommendation"
Title: - KGAT: Knowledge Graph Attention Network for Recommendation
Year: - 2019
Venue: - KDD

**Main Problem**
The author tries to address the exisiting problem of collaborative filtering methods the inability of modelling side information , i.e., they model each interaction as independent data instance and do not consider their relations. The authors proposes Knowledge Graph Attention Network th

[2022-05-12 05:30] karan96 opened #149 "Implementation of Attention Based Spatial-Temporal GCN for Traffic Flow Forecasting"
This is the link towards github repo for the paper: -
Guo, S., Lin, Y., Feng, N., Song, C., & Wan, H. (2019, July). Attention based spatial-temporal graph convolutional networks for traffic flow forecasting. In Proceedings of the AAAI conference on artificial intelligence (Vol. 33, No. 01, pp. 922-929).

https://github.com/Davidham3/ASTGCN

The summary of which will be posted later, currently I ha

[2022-05-12 05:33] karan96 opened #150 "Implementation of KGAT: - Knowledge Graph Attention Network for Recommendation"
Summary shared in issue (#148 ).

Code: - https://github.com/xiangwang1223/knowledge_graph_attention_network

Beginning to implement this code side by side to understand how KGAT works. Not sure if we can convert our problem to be implemented in a knowledge graph but since I read the paper I thought it should be good to gain more understanding on this as according to me we can define our problem i

[2022-05-12 05:34] karan96 commented on #150
@hosseinfani  Kindly share your views on this and the summary I shared related to the above issue in (#148)

[2022-05-14 21:35] hosseinfani commented on #150
@karan96
this is a good paper from a good venue. I agree that if we consider the `side information` as the location of users, we can employ this method for our project. Please keep me update on how you model locations and teams and how to feed them into this method.

[2022-05-14 21:44] hosseinfani commented on #149
@karan96 thanks for the update.
Not sure what do you mean by "implementing" when the code is already available.
I think you mean to make an initial run of it.
You have to think how we can cast team formation as a spatio-temporal graph such that we can use this method. That's the main challenge.

[2022-05-18 23:26] hosseinfani commented on #117
@gabrielrueda
Any update?

[2022-05-19 01:34] gabrielrueda commented on #117
@hosseinfani  Yes, I have an update:
I looked into what was said in this issue about how the matrix times it's transpose will give the pairwise collaborations for every combination of members.
I have created a function does the multiplication and puts the data into a sparse matrix:

[code]
I have looked a bit into finding the number of times 3, 4, 5, ... members collaborate at once, but haven't co

[2022-05-19 01:45] hosseinfani commented on #117
@gabrielrueda you don't need to implement the multiplication. Why not using the numpy's `transpose` and `matmul` functions??
Also, please test your function on the test example above and show the result here.

[2022-05-19 02:07] hosseinfani commented on #117
@gabrielrueda you can write and test your code in a google colab. then share the script with me here.
Also, let's first test it for the sample by @VaghehDashti above. If everything is alright, we can run it on the teamsvecs.pkl.
thanks.

[2022-05-19 22:51] gabrielrueda commented on #117
Hi @hosseinfani,
I figured out how to make it work with `tranpose` and `matmul` functions as shown in the `getCollabsVer2()` function. I also found out that you can use the the `@` operator for matrix multiplication as shown in the `getCollabsVer3()` function.

I tested the code on Google Colab with the sample above and it worked. I have attached the code and output below:

[code]

OUTPUT:
![image

[2022-05-20 01:42] hosseinfani commented on #117
@gabrielrueda Thank you. Now, we need to order the pairs of authors descending and print out the top-k (eg, top-2).

You only need to consider the upper (or lower) part of the final matrix, given the row i and column j is the indexes of author i and author j.

In our example, it is

[2022-05-20 01:47] hosseinfani commented on #117
@gabrielrueda btw, thank you for sharing the amazing @ operator on matrices :)

[2022-05-24 00:49] gabrielrueda commented on #117
Hi @hosseinfani,
Here is another update. I have made an implementation of getting the top-k pairs of authors.
However I wasen't sure...
1. if I should remove the diagonal entries before finding the Top-K pairs (since author i = author j)
2. how I will deal with duplicates when printing out the top-k (e.g. Suppse the order was 4,3,3 for the pairs were (1,2), (5,1), (3,2) respectively. If it were to

[2022-05-24 01:19] hosseinfani commented on #117
@gabrielrueda
Thank you for the update.

1. Yes, you should not consider the diagonal. Either you can filter them from the beginning or filter them at the end (remove those with i and j equal from the final list). Up to you. I prefer the first one.
2. You're right but you don't need to do anything. The [:k] cut-off you did is correct.

Also, the output should not be shown as a matrix but a list as

[2022-05-24 06:05] hosseinfani commented on #66
Hi @VaghehDashti,
Please see my commit on imdb branch [9d3b05c](https://github.com/fani-lab/OpeNTF/commit/9d3b05cb63045e1c6c8a168dde1c42d5722c7072)

Please double-check the logic and flow. We should continue the experiments on this flow.

Basically, I create a folder for each year, then call the base models to train on the samples of that year but initialized on the weights of last year and put th

[2022-05-24 18:41] hosseinfani commented on #6
Hi @VaghehDashti ,
You need to gradually start this issue to motivate temporal study in your thesis and paper

[2022-05-24 18:43] hosseinfani opened #152 "Temporal study for more than one step ahead"
Currently, we're supporting one-step-ahead for #66 . But what if we can have 2, 3, ... step ahead prediction.

[2022-05-24 18:45] hosseinfani commented on #119
An aggregate function has been added to main.py that pulls all the results and put them in an organized csv for each domain.
We can safely close this issue.

[2022-05-24 18:45] #119 closed

[2022-05-26 17:49] gabrielrueda commented on #117
Hi @hosseinfani,
I have replaced `shape=(4,4)` with `shape=upperTri.get_shape()` and filtered out the diagonal entries using `upperTri.setdiag(0)`.

Here is the output for k=4:
![image](https://user-images.githubusercontent.com/35504507/170546146-b756c78c-ac94-4a70-badd-09fc1a957d46.png)

Here is the function:
[code]

[2022-05-26 18:08] hosseinfani commented on #117
@gabrielrueda Thank you.
Before we move on, would you please render the results of getTopK() in a histogram? Something like this:
![image](https://user-images.githubusercontent.com/8619934/170549397-76273b3e-8116-400a-9850-d39e5d28cda6.png)

[2022-05-26 20:53] gabrielrueda commented on #117
@hosseinfani
I have rendered the results using the following code:

[code]
The output is:
![image](https://user-images.githubusercontent.com/35504507/170578330-472913ae-2b72-4d21-9aff-2341d059ec37.png)

[2022-05-26 21:28] hosseinfani commented on #117
@gabrielrueda thank you. this is awesome.
I'll explain the next step tomorrow.

[2022-05-27 12:22] hosseinfani commented on #117
@gabrielrueda
Congrats! You're making your first official contribution to the OpeNTF project.
Please put all your final code in a file colabstat.py and make a pull request to our main branch.
Thank you.

[2022-05-27 12:42] hosseinfani commented on #117
@gabrielrueda
Now, let's find out how to do stats on experts that have more than two collaborations. For instance, find out the top-k experts who have 3 collaborations together, 4 collaborations, ... and in general n collaborations.

The naive way would be to count them. For instance, if n=3, we can find all triple experts ([we will have combination of 3 out of all experts](https://en.wikipedia.or

[2022-05-27 15:32] VaghehDashti opened #154 "2021 - CIKM - RW-Team Robust Team Formation using Random Walk"
**Title**: [RW-Team: Robust Team Formation using Random Walk](https://dl.acm.org/doi/10.1145/3459637.3481969)
**Year**: 2021
**Venue**: CIKM

**Introduction**:
	An expert network contains professionals with their skills and their collaboration with other experts. There has been a surge of interest in forming teams of experts in expert networks.

**Main problem**:
	Given an expert network and a pro

[2022-05-27 16:55] VaghehDashti opened #155 "2019 - arXiv - Time2Vec: Learning a Vector Representation of Time"
**Title**: [Time2Vec: Learning a Vector Representation of Time](https://arxiv.org/abs/1907.05321)
**Year**: 2019
**Venue**: arXiv

**Introduction**:
	Time is an important feature in many applications involving events that occur synchronously and/or asynchronously. The input for problems involving time can be considered as a sequence where, rather than being identically and independently distribute

[2022-05-29 05:18] hosseinfani opened #156 "Evalution on team predictions for test instances"
Curently, we split the team instances into train and test. At test, given a team, we input the skills of the team and expect ro predict the members. However, there might be multiple teams with different members for same skills. For example,

([s1,s2], [m1,m3])
([s1,s2], [m0,m2])

If the model predicts [m1, m3], it hits the first but misses the second.

I think we should discuss this and come up wi

[2022-05-29 14:30] hosseinfani commented on #155
@VaghehDashti
I believe this is the complete and accepted work: https://github.com/BorealisAI/DE-SimplE

[2022-05-29 14:30] hosseinfani commented on #155
@VaghehDashti
Also, [Representation Learning for Dynamic Graphs: A Survey](https://arxiv.org/abs/1905.11485) worth reading.

[2022-05-29 14:41] hosseinfani commented on #155
The sequence can be either synchronous, i.e. sampled at regular intervals, or asynchronous, i.e. sampled at different points
in time.

[2022-05-31 15:55] gabrielrueda commented on #117
Hi, @hosseinfani
Here is an update:
I have decided to start my trying to find 3 collaborations together. I tried a few things with the matrix from the pairwise collaborations and observed the following:

For this first matrix, there is no team of 3 collaborators:
![image](https://user-images.githubusercontent.com/35504507/171214157-6e01aad3-5f69-4972-88bb-64a8885b8dbf.png)
- The top matrix is the

[2022-06-01 00:14] karan96 opened #157 "Issue in Implementation of Naive Approach for Location"
Greetings @hosseinfani ,

I was trying to create the one-hot encoded vector of locations in order to use them for my naive-based approach using NN. In that I had the following doubt and am stuck at this step: -
How do I create a one-hot encoded array with the below-given structure of l2m. Skills are connected to 1 patent and locations might be shared between members of a team. Thus creating ambigu

[2022-06-02 03:48] hosseinfani commented on #157
Hi @karan96
given a team (patent), you can have a vector of size |all unique locations|, and then make those elements for the members' location 1. So, it's not one-hot but it's an occurrence vector. For example,

p1 = (<s1,s2>,<m1-l3, m2-l5, m3-l9>) ==> input [skills:[0,1,1,0,0,...], locations:[0,0,0,1,0,1,0,0,..,1,0,0,..]] to output [members:[0,1,1,1,0,0,...]]

I started the indexes from 0.

[2022-06-02 04:08] hosseinfani commented on #154
@VaghehDashti
please explain your understanding of the team formation from the proposed algorithm. I'm not sure I understood how the team is formed using random walk on the collaborative network.

[2022-06-07 22:39] hosseinfani commented on #117
@gabrielrueda
thank you for the update.
I was thinking of a counter-example to counting the triads the way I said. What if m1,m2 are in t1, m2,m3 in t2, and m3,m1 in t3, then they form a triad but they are not part of a single team altogether. right?

[2022-06-07 23:52] gabrielrueda commented on #117
@hosseinfani
Yes, your right. I will try to modify the function or the matrix beforehand to detect this special case.

[2022-06-08 00:05] karan96 commented on #157
Hi @hosseinfani ,
I did try implementing the idea you gave above and came up with a following occurrence vector: -
[[1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0

[2022-06-08 19:54] karan96 commented on #157
@hosseinfani Hi Dr. Fani,
What if I label encode each location? for example, right now we have location in the form of a tuple for each member: - ('Campbell', 'CA', 'US') and we turn this into Campbell_CA_US. This will help us remove the ambiguity that we are facing since we need to keep in mind the duplication of location for each member within the same team. If we do this, then each location wil

[2022-06-09 01:08] hosseinfani commented on #157
@karan96 Hi Karan,
tomorrow, we'll review and discuss your code in the lab.
I'm thinking of different granularities: city, state, and country. we can experiment on them individually. for now, let's complete the state level.

[2022-06-09 03:27] hosseinfani commented on #117
@gabrielrueda I think this doesn't work for the general case. I'm asking a friend of mine who's mathematician. Will uodate you here.

This is a combinatorial problem.

For now,please implement the naive method, that is counting them by enumerating all possible cases, as I explained above.

Meanwhile, you can research more about it to see if there is a better algorithm.

[2022-06-10 18:11] gabrielrueda commented on #117
Hi @hosseinfani,
I have just implemented the naive method of counting all possible cases using combinations. I will now research more to see if I can find a better algorithm. Here is the code I wrote:

[code]

Here is the output:
![image](https://user-images.githubusercontent.com/35504507/173125669-d153fbe8-3d30-4847-8a34-3294848dc1c5.png)

[2022-06-10 18:22] VaghehDashti commented on #66
Non-temporal baselines:
- Non streaming scenario but the last part of data as test set (FNN, and BNN)
Temporal methods:
- Streaming scenario:
  - Without time as input (FNN, BNN, RNN, Transformer)
  - with time as input (FNN with dt2v, BNN with dt2v, RNN, Transformer)

[2022-06-10 19:31] hosseinfani commented on #117
@gabrielrueda
Thank you.
Please make it n-way. Something like this:
[code]
Also, we want to reuse `plotTopK` to plot the top-k.

[2022-06-11 01:00] hosseinfani commented on #144
@VaghehDashti
Please update this issue page regarding the nmt baseline.
Also, when you push code changes for this, put the issue number in your push message

[2022-06-11 01:12] hosseinfani commented on #117
@gabrielrueda
@mahdis-saeedi was able to find an answer for counting n-way collaboration. Basically, if a member `m_i` has a vector of membership to teams `v_m_i`, then the count of collaborations between any n members is the `dot product` of their membership vectors. For instance, for 3-way, for any m_i, m_j, m_k => colabs = v_m_i  [dot] v_m_j [dot] v_m_k

Indeed, our matrix multiplication for 2-

[2022-06-11 19:13] mahdis-saeedi commented on #117
@hosseinfani
@gabrielrueda
[counting collaborations.pdf](https://github.com/fani-lab/OpeNTF/files/8884588/counting.collaborations.pdf)

[2022-06-16 17:21] gabrielrueda commented on #117
Hi @hosseinfani,
Here is an update. I first made the nwayCollabs() function like you said for the naive method for the combinations (which is copied below). Now, I am working on implementing the solution provided by `@mahdis-saeedi`. However I ran into a problem:

Suppose you have matrix:
[ 1 0 0 0 1 ]
[ 0 0 1 1 1 ]
[ 1 1 0 0 0 ]

So I would count the collaborations between m1, m2 and m3 like this

[2022-06-17 23:33] hosseinfani commented on #117
Hi @gabrielrueda
Sorry for the late reply.
You're right. The dot product of two vectors is a value that cannot be further dot product to a third or more vector.

We can define dot product of more than two vectors as the element-wise multiplication of the vectors and then sum all. For instance, if we have three vectors (members) and 5 teams:

[ 1 0 0 0 1 ]
[ 0 0 1 1 1 ]
[ 1 1 0 0 0 ]
==
1st col:  1

[2022-06-17 23:35] hosseinfani commented on #117
@gabrielrueda
Also, for the updated code, please send another pr on the same file so I can merge and we keep track of changes. Thank you.

[2022-06-20 15:11] gabrielrueda commented on #117
Hi @hosseinfani,
I wrote the function using the element-wise multiplication and it worked. The only thing is that I used combinations to get the rows (vectors) I would do the element-wise multiplication on. Should I try to find a way without listing the combinations, or just leave it as is.

Here are the functions:
[code]
And here is the result for matrix (n=3, k=2):
[[1 1 0 0]
 [0 0 1 1]
 [1 1 0

[2022-06-20 15:56] hosseinfani commented on #117
Hi Gabriel,
@gabrielrueda

I like this new version more.

I merged your previous code and did some changes. Please update your code and apply your new changes. Send the PR then.

One change I make the x axis ticks to be vertical (in case we want to render the names (if available)). But, the plot figure does not fully show them. Please fix that too.

After your PR, we can safely close this task and

[2022-06-20 15:58] hosseinfani commented on #117
@gabrielrueda
Thank you very much for your clean and readable codelines. It's my pleasure reviewing your codes :)

[2022-06-20 18:51] hosseinfani commented on #117
@gabrielrueda
I tried to run the code on the whole dataset.
- First, we need to make the lines of code as optimized as possible.
- Second, we need to make it parallel.

#Publications (teams) | 4,877,383
#Unique Authors (members) | 5,022,955

[2022-06-21 00:18] karan96 commented on #150
@hosseinfani Initial run was successful. It went on towards training the model. I stopped the execution after seeing that it has successfully started with its first epoch because it was taking too long. I believe a complete initial run is not required right now because we know that the model is working. I will try to figure out a way to incorporate our use case in this. Furthermore, what learning

[2022-06-21 00:29] hosseinfani commented on #150
@karan96 thank you.
you have to find where the input data is parsed or what file structure is needed. Also, what the predictions mean and what is the intuition behind the predictions?

[2022-06-21 04:00] hosseinfani commented on #117
@gabrielrueda
are you available tomorrow or wednesday to talk about the new task? preferably in-person on campus. This new task is a little bit challenging ...
Please let me know.

[2022-06-22 20:14] gabrielrueda opened #162 "Debugging fnn model"
Hi @hosseinfani,
I will update you here on the issue for debugging the result of all 0's in the fnn model.

[2022-06-22 20:26] hosseinfani commented on #162
@VaghehDashti
Gabriel is investigating the fnn's results. Please help Gabriel in this task.

[2022-06-23 02:03] karan96 commented on #157
Greetings Dr. @hosseinfani ,
I have one question, I am generating x(for location) and y(for member) as lil matrices. When I am stacking those horizontally, the resulting matrix is also a lil matrix. Do I need to perform bucketing here? Is it even required? The bucketing was done to ensure the dense array does not take up much space and as soon as we hit the bucketing mark, it assigns it to the lil

[2022-06-23 03:24] hosseinfani commented on #157
@karan96
As I explained before, the final matrix is sparse. Filling the final matrix row by row is time consuming when it is sparse. So, we create a small dense mateix as the bucket. Filling the tows of the bucket is fast because it's dense.

The bucket is not to tackle the memory space but to address timing for filling the final sparse matrix.

[2022-06-29 21:09] gabrielrueda commented on #162
Hi @hosseinfani @VaghehDashti,
I looked into the code and just want to confirm if using `python main.py -data ../data/raw/dblp/toy.dblp.v12.json -domain dblp -model fnn` are the correct arguments to test the fnn model.

Also, when I run that, I few graph results are shown:
1. For this one, what do the x and y axis numbers represent:
![image](https://user-images.githubusercontent.com/35504507/17654

[2022-07-04 14:17] hosseinfani commented on #117
@gabrielrueda
Hope all is well with you.
I ran the code on the entire dataset and also on the filtered version of it.

Unfortunately, after 4-days I had to stop it. I know that the time complexity is O(n^2) and n~=14,000 in the filtered version of dataset.

I ran it for {2,3,4,5}-way collabs in parallel on the latest code at [here](https://github.com/fani-lab/OpeNTF/blob/main/src/misc/collabs.py)

[2022-07-04 23:48] gabrielrueda commented on #117
Hello @hosseinfani,
I took a look at the code and found a few adjustments that might optimize the code more:
1. I transposed the matrix before the loop, so it doesn't do the transpose action in every iteration. In function: `getnwayCollabs()`
2. I filtered out all the groups with no collaborations before returning the collabs list in `getnwayCollabs()`
3. I also changed my bubble sort to use the s

[2022-07-05 17:52] hosseinfani commented on #117
@gabrielrueda
Thank you. I will merge the pr.

I'm not sure I understood the second part (sorting idea). Can you explain with an example?

[2022-07-05 19:41] karan96 commented on #150
@hosseinfani I followed the code and the code does not provide a way where they are preprocessing the dataset. They have given the sources of those databases but the files included in their repo which they are using for their approach are already formatted. They are just picking up kg data and cf data for training and testing and then using it for their model. What should I do in this case?

[2022-07-05 20:20] karan96 commented on #149
@hosseinfani  Initial run of it is successful. Now I am trying to find out how they are processing datasets for their use case.

[2022-07-06 00:56] gabrielrueda commented on #117
@hosseinfani
Yes here is an example:
collabs= { {(0,1,2), 1},  {(0,1,3), 3}, {(0,2,3), 1}, {(1,2,3), 2}}

1. STEP 1: Filter out the 1's and place into a new list
- collabsWithOne = { {(0,1,2), 1},  {(0,2,3), 1} }
- collabs = { {(0,1,3), 3}, {(1,2,3), 2}}

2. STEP 2: Sort the collabs List
- collabs = { {(0,1,3), 3},  {(1,2,3), 2}}

3. STEP 3: Attach the collabsWithOne to the end of the collabs list

[2022-07-06 02:12] hosseinfani commented on #117
@gabrielrueda

Great idea. Let's define a threshold (default value=1) and filter out those entries below the threshold. There is no need to add them later because these entries have no benefit even if we consider them (e.g., what's the benefit of considering 1 collabs)

[2022-07-06 15:26] gabrielrueda commented on #117
@hosseinfani
I created the PR for filtering the entries.

[2022-07-06 15:57] hosseinfani commented on #117
@gabrielrueda thank you.

[2022-07-07 04:58] hosseinfani commented on #117
@gabrielrueda
![image](https://user-images.githubusercontent.com/8619934/177694685-a5c40150-8c45-4ebf-bb38-59d1085e9392.png)

[2022-07-08 02:40] hosseinfani commented on #117
@gabrielrueda
it's done for n=2:

[code]
![image](https://user-images.githubusercontent.com/8619934/177906038-9e9aa173-4bf6-45a0-b4eb-2dfaad5aeefd.png)

I let it run for top-1000.

-------------------------------
For n>2, it's not doable. Since, for example, n=3, we have nCr(14214, 3) = 478526524564 combinations and the loop does ~3500 iter/sec. So, ((478526524564/3500)/3600)/24 = 1582 days

We ca

[2022-07-08 02:45] hosseinfani commented on #117
![image](https://user-images.githubusercontent.com/8619934/177906704-18483a84-c008-4102-ba57-2af17df78058.png)

[2022-07-08 07:00] hosseinfani commented on #117
![image](https://user-images.githubusercontent.com/8619934/177935355-28058462-d313-4afa-9ea9-d31ad331ebd9.png)

[2022-07-09 17:45] karan96 commented on #157
@hosseinfani  This is the result of the entire code run on toy dataset.
![image](https://user-images.githubusercontent.com/19558771/178117069-11b4c458-f562-4e68-aa70-a908ecdf1653.png)
This means that the code is running. But yesterday the code was stuck at creating pickle file for vecs. I'll see what's the reason today.

[2022-07-15 00:38] karan96 opened #165 "2021 - CCAI: Geo-Team Formation Model for Impromptu Activities"
Title: - CCAI: Geo-Team Formation Model for Impromptu Activities
Year: - 2021
Venue: - Graduate Student Symposium- Canadian Conference on Artificial Intelligence

**Main Problem**
The author defines the problem as finding a team of experts in geo-social networks while having members which are socially cohesive and are spatially close to each other,
which should also simultaneously satisfy the team

[2022-07-15 17:59] gabrielrueda commented on #162
Hi @hosseinfani @VaghehDashti,
Here is an update. I haven't had much time to investigate this issue lately, and I have also been confused on where to start, so I haven't really made an progress so far. I do have a question though. I was looking the results in the csv file (shown below), and I was wondering what P_2, P_5 and P_10 are, as well as what ndcg_cut is and what map_cut is.

f0.test.pred.e

[2022-07-16 00:08] hosseinfani commented on #162
Hi @gabrielrueda

these are metrics to measure the accuracy of the model prediction. Also the *.roc.pkl file (yes, they are train-valid results plus ROC).
Generally, the more close to one the better meaning the more accurate answer by the model.

There is a nice teaching slides here:
https://ils.unc.edu/courses/2013_spring/inls509_001/lectures/10-EvaluationMetrics.pdf

you can read more here:
http

[2022-07-16 00:13] hosseinfani commented on #162
@gabrielrueda
I would suggest looking into the the content of f*.test.pred files. They are object files saved by `torch.save()` and contains the matrix to show the actual prediction of the model for each instance in the input. The size should be |test| * |members|

you can load it by `torch.load()`

[2022-07-20 01:20] #117 closed

[2022-07-20 01:24] hosseinfani commented on #113
We have integrated opennmt to apply this idea.

[2022-07-20 01:24] #113 closed

[2022-07-20 01:24] #144 closed

[2022-07-20 01:26] #145 closed

[2022-07-20 01:28] #3 closed

[2022-07-22 02:53] karan96 opened #166 "2015 - FSKD: Team Formation in Social Networks based on Local Distance Metric"
Title: - FSKD: Team Formation in Social Networks based on Local Distance Metric
Year: - 2015
Venue: - 12th International Conference on Fuzzy Systems and Knowledge Discovery (FSKD)

Main Problem
The author projects his approach of Team Formation problem as a Social Network Analysis study. In their paper, they consider a project with a set of tasks, each task requiring a set of skills to complete. T

[2022-07-22 02:54] karan96 commented on #150
@hosseinfani  As an update, I have fixed the code and now the data is exactly what the data of this paper looks like but on running the code on the toy dataset I faced some bugs that I am currently trying to resolve.

[2022-07-22 12:57] hosseinfani commented on #166
@karan96
How the distance is incorporated into the algorithm?
How do they evaluate the outputs?
How do they make sure that the output teams are successful?

[2022-07-22 16:12] karan96 commented on #166
1st. Question - By Distance they don't mean the physical distance between two experts. What they mean by distance is the edge weight between two experts. To calculate the edge weight, they multiply the number of nodes in between two experts with their corresponding edge weight and sum them all up.
2nd Question - They evaluate their outputs on basis of personnel costs and communication costs compar

[2022-07-26 14:46] VaghehDashti commented on #66
Results of experiments on DBLP show that the streaming scenario improves model performance for bnn. Adding time as input also improves model performance for bnn. lstm and transformer perform poorly with(out) streaming scenario.

Here is the AUCROC for the finished experiments:
bnn_emb with unigram_b: 0.668093 (no streaming scenario)
lstm: 0.5010 (no streaming scenario)
transformer: 0.5010  (no str

[2022-07-26 14:53] hosseinfani commented on #66
@VaghehDashti
please put them in a chart so we can compare easily.

[2022-07-26 16:15] gabrielrueda commented on #162
Hello @hosseinfani @VaghehDashti,
Here is an update: I went over the slides about the Evaluation Metrics, and I now understand the f0.test.pred.eval.mean.csv contents. I opened the .pred file and looked at the contents. From my understanding, these are the weights are modified as we train the model, right?

Also, I took a look at a simple example of an fnn model and tried comparing it to the one i

[2022-07-26 16:30] VaghehDashti commented on #162
Hello Gabriel,
The .pref file contains the predictions of the model.
Yes, that is correct.
param is a dictionary containing all of the hyperparameters for the model training. param['l'] is a list containing the number of nodes in each hidden layer.

[2022-07-26 16:36] VaghehDashti commented on #66
![image](https://user-images.githubusercontent.com/80131857/181061765-00b0c6c2-fa93-41cc-b8f5-a0b8c0fb6908.png)

[2022-07-26 17:11] hosseinfani commented on #66
@VaghehDashti
lstm/transformer are based on the nmt, right?

Using streaming on the has no pos/neg effect? pls debug and make sure.

bnn_dt2v_* should be tbnn_dt2v_*, right?

When runnig for imdb, note that the best model for imdb was different from dblp.

How about temporal ir or recsys baselines?

[2022-07-26 17:29] VaghehDashti commented on #66
Yes

NDCG@10 decreases with the streaming scenario so there's no problem in the code.

tbnn_dt2v_emb would add one 1 to the input (the time vector) so it should be bnn_dt2v_emb since there is already time as an aspect in there.

Yes

I will be working on it this week

[2022-07-26 17:32] hosseinfani commented on #66
@VaghehDashti
we don't have the result of tbnn_dt2v_emb yet?

[2022-07-26 17:35] VaghehDashti commented on #66
bnn_dt2v_emb already has time as an aspect embedded in it in doc2vec training by adding the time into the input.

[2022-07-26 17:39] hosseinfani commented on #66
not sure I understood,
can you please shortly (one line) explain each variation? thanks.

[2022-07-26 17:52] VaghehDashti commented on #66
tbnn_emb learns the input embeddings with doc2vec for only skills and then goes through streaming scenario learning. it's the same as bnn_emb but with the streaming scenario learning.
bnn_dt2v_emb learns the input embeddings with doc2vec for (skills + time) and then goes through streaming scenario learning.

[2022-07-26 17:55] hosseinfani commented on #66
why don't you add letter "t" to the bnn_dt2v_emb then?

[2022-07-26 18:14] hosseinfani commented on #162
@gabrielrueda
to simply put it, we have input of skills and through matrix multiplication, we land it to output members.

the number of matrixes are defined in the "param" and the actual matrix is built in "init".

for instance if we have 5 skills in total and 6 members in total,

if we have a team with skill s2 s4 and members m1, m3, m5,

then the model should map

[0,1,0,1,0] skill vector

to

[

[2022-07-26 19:07] VaghehDashti commented on #66
I just double-checked the code to see why I didn't have 't' at the beginning. having 't' at the beginning would add one 1 (time vector) to the input vector, so my previous explanation of tbnn_emb was incorrect.

Here is the updated definition of our models (I will shortly update the code):
- fnn, bnn, fnn_emb, bnn_emb, nmt: normal training without adding one 1 to the input
- tfnn, tbnn, tfnn_emb,

[2022-07-27 15:53] VaghehDashti commented on #66
Here are the final results on dblp including tbnn_emb with unigram_b:
![image](https://user-images.githubusercontent.com/80131857/181292037-364e1943-2e45-4a17-b4df-9fac0f652ed7.png)
As can be seen, except for nmt-based models, the streaming scenario will improve model performance. Adding time as an aspect will also improve model performance only if done through doc2vec learning and even then the g

[2022-07-28 04:12] hosseinfani commented on #66
@VaghehDashti
Now, it's more clear. Thank you.

[2022-07-29 01:26] karan96 commented on #150
@hosseinfani  I was able to create the data file as we discussed and when I executed the code, towards the end when the evaluation part starts it requires a knowledge graph of the format User -> Relation -> Item, in our case Member -> BelongsTo/From -> Location. The author provides no information on how this was created. I tried looking up online for solutions involving creation of Knowledge Graph

[2022-07-29 01:37] hosseinfani commented on #150
@karan96
thanks for the update.
KG is just a graph! As you said, you have to simply create a graph whose nodes are members and locations and the edges represented the Relation (belongsto/from).

[2022-07-29 01:50] karan96 commented on #157
@hosseinfani  Hello Dr. Fani,

I have tried multiple runs of FNN model with No Negative Sampling for our Naive Implemention on Compute Canada Cluster but everytime I see that the code is stuck at this step.
![image](https://user-images.githubusercontent.com/19558771/181665960-5a9e0626-95d6-4cfa-8bed-6c5eecf4ccd5.png)
I am not sure why this is happening. I did verify the settings with Arman and not

[2022-07-29 01:59] hosseinfani commented on #157
@VaghehDashti
You've seen this before and know the reason, I believe. Please help Karan.

@karan96
you don't need gpu for this step. I assume you know what the step is in our pipeline!

[2022-07-29 18:59] VaghehDashti commented on #157
@Can you share the .out file generated

[2022-07-29 19:04] VaghehDashti commented on #157
@karan96 Hi, can you share the .out file generated from running the code? because there are no errors here!
As far as I remember, this is the start of sparse matrix generation and it's the log for using the multiple processes.
My best guest is that it is throwing out-of-memory error.
I'd suggest using something like this when creating the job:
`sbatch --account=def-hfani --mem=96000MB --time=4320

[2022-07-29 19:08] VaghehDashti commented on #157
Also, you are running the pipeline on the uspt dataset, right? I recently tried to run the pipeline on uspt with the following command it threw an out-of-memory error with the attached log.
[slurm-40436007.txt](https://github.com/fani-lab/OpeNTF/files/9222679/slurm-40436007.txt)
`sbatch --account=def-hfani --mem=64000MB --time=2880 cc.sh`
I'm running it with 96GB to see what happens.

[2022-07-30 17:29] VaghehDashti commented on #66
Here are the results on imdb:
![image](https://user-images.githubusercontent.com/80131857/181934715-c593c03d-6212-402a-81d6-35f9f128ea19.png)
The results of tfnn and tfnn_a1 are strange. I will re-run the code but I don't think that will change the results unless I change the learning rate or some other hyperparameter. What do you think @hosseinfani?

Also, checking the results from our previous p

[2022-08-01 19:14] karan96 commented on #157
@VaghehDashti Hi, I have attached the file below.
[slurm-63776570.txt](https://github.com/fani-lab/OpeNTF/files/9236728/slurm-63776570.txt)
The error that you might see at the end of this file is because the job ran out of time of 23 hours in this stuck state of teamsvecs.pkl creation. I will try it again while specifying the above parameters.

[2022-08-02 22:27] hosseinfani commented on #21
@VaghehDashti
can you please check this comment from the reviewer. Seems he is right. In the nmembers-nteams figure.
_Figure 1: Are the y-axes of #members correct? Are there actually teams of > 10^5 members?!_

[2022-08-03 01:45] #21 closed

[2022-08-04 13:51] hosseinfani commented on #162
@gabrielrueda
Hi Gabriel,
do you have any update?

[2022-08-04 20:03] hosseinfani opened #167 "Github: New benchmark dataset"
We need to add github (the collaborative network of programmers) as a new benchmark dataset.
projects => teams
users => experts
skills => ? (programing language of the project, keywords of project, title, ...
success => ? What forms a successful project? #forks, #starts, ....

[2022-08-04 22:28] gabrielrueda commented on #162
Hi @hosseinfani,
I am still working through trying to understand fnn.py. I am currently going through some videos on pytorch, to learn what it's various functions do.

[2022-08-06 19:02] hosseinfani opened #168 "Softmax Approximation for Large Output Layers (size of experts)"
Our current neural architecture uses softmax at the output layers whose size is the size of the expert set.
We need to provide a faster approximation to softmax while not loosing performance.

hierarchical softmax,  svd-softmax, ... are available options.

[2022-08-11 20:55] karan96 commented on #150
@hosseinfani Hi Dr. Fani,
I was able to create the userList, itemlist, and other necessary files, but the way code is working is a the step where it is calculating metrics such as precision, recall and ndcg, it creates a dict named user_ids from test file and then matches them with the data from train file. Hence when the user_ids from test file has a user id 22 which is not present in the train f

[2022-08-19 16:00] gabrielrueda commented on #167
Hi @hosseinfani. Here are a few datasets I found:

1. GitHub Commit Data
- https://data.world/vmarkovtsev/452-m-commits-on-github
- Data for 452M Github commits.
- The data looks like this:
[code]
2. GH Archive
- https://github.com/igrigorik/gharchive.org OR https://www.gharchive.org/
- A project that has collected public Github activity data.

3. Github Language Stats
- https://github.com/madnigh

[2022-08-20 01:22] hosseinfani commented on #167
@gabrielrueda
thanks.
We need these essential parts:

1) repo unique url as the team name/id
2) collaborators' unique username as the team members
3) proramming languages as the skills
4) date of first release as a sign for success of the project at what time

For now, we don't need commit/push information.

So, you have to explore which one has the above information.

Also, if you think that ther

[2022-08-24 14:48] gabrielrueda commented on #167
Hi @hosseinfani,
I have looked into these and searched for more datasets and haven't been successful in finding one a dataset that lists the contributers.

The closest I have got is a dataset that contains the number of contributers (https://www.kaggle.com/datasets/vatsalparsaniya/github-repositories-analysis)

However, I started to investigate the GhArchive (https://www.gharchive.org/), which rec

[2022-08-24 17:04] hosseinfani commented on #167
@gabrielrueda
I had a look at the gharchive projects below its page. Seems we have to do your proposed method to obtain such information.
Please have a look at https://opensourceindex.io/ or https://danielvdende.com/projects/gdc2014/index.html
They do same type of query to do data analysis on github data.

[2022-08-26 04:58] karan96 commented on #157
Update: - The execution in sharcnet did not complete. I have tested multiple runs of the code in serial. Now the last run I have executed and which is currently running is for 7 days. I'll continue to update here.

[2022-08-26 04:59] karan96 commented on #150
I have changed the way we have formatted the dataset earlier. The new dataset now take countries as head, users as tails and relations between them to make a KG. Currently have to run them along KGAT. Will update the results soon.

[2022-08-26 15:15] gabrielrueda commented on #167
Hi @hosseinfani,
While I was looking into the query analysis for the GitHub, I found out that in the Github API, you can access the data of the repo directly using https://api.github.com/repos/{repo_name} in JSON format. From there, you can go to https://api.github.com/repos/{repo_name}/contributors to get the list of contributors and how many contributions each member has done. You can use https:

[2022-08-26 19:03] hosseinfani commented on #167
@gabrielrueda
Thank you. That's very interesting and useful. The only concern is whether there is a limit on the API call from github. Also, the latency of API calls.
For instance, for any repo, we have to do 4 calls, each result of which should be saved incrementally.
However, with a query (I agree that preparing the query is difficult), we can have all at once.

Let's start with your approach fo

[2022-08-30 14:11] hamedwaezi01 commented on #162
Hi everyone
I have recently started working on this issue, and I am trying to reproduce the problem. I faced some challenges about my laptop hardware specs, as its memory did not suffice. I increased my swap and it seems to be okay for now. In case I had further updates, I will let you know.

[2022-09-02 01:00] karan96 commented on #157
@hosseinfani I was able to resolve the error we were getting on sharcnet for multiprocessing. I did the resolution using: -
`from multiprocessing import get_context
 with get_context("spawn").Pool() as p:`.
Currently the code is at 133000/164225 instances. I will update once it completes.

[2022-09-02 13:34] hamedwaezi01 commented on #162
I stopped reproducing the problem on my system. I just realized reproducing on it is not an option. I want to give some hypotheses. Since we are using sigmoid on the output layer, is it possible that the number of epochs might not be enough (It is 20 here)? I am suggesting it as the sigmoid derivative is very close to zero, and it would affect the learning speed.

[2022-09-02 14:44] gabrielrueda commented on #167
Hi @hosseinfani,
Here is an update. I created a python program to extract the information required and placed in a csv file. The repos.txt would contain a list of all the repos we want to extract data from. Also, I figured out the limit of API calls from GitHub is 1500 per hour, so since in this program we do 3 calls per repo, we can extract from 500 repos every hour.

Here is the program:
[code]

[2022-09-02 15:30] hosseinfani commented on #167
@gabrielrueda
thank you. I'll have a look and will get back to you.

[2022-09-02 16:16] karan96 opened #169 "Understanding Implementation of ASTGCN"
Greetings Dr. @hosseinfani,

Paper: - Guo, S., Lin, Y., Feng, N., Song, C. and Wan, H. 2019. Attention Based Spatial-Temporal Graph Convolutional Networks for Traffic Flow Forecasting. Proceedings of the AAAI Conference on Artificial Intelligence. 33, 01 (Jul. 2019), 922-929. DOI:https://doi.org/10.1609/aaai.v33i01.3301922.

Github Repo: - https://github.com/benedekrozemberczki/pytorch_geometric_t

[2022-09-02 16:40] hosseinfani commented on #162
@hamedwaezi01
can you explain more?

[2022-09-04 23:45] hosseinfani commented on #167
@gabrielrueda
Let's save the entire json now that we crawled the data. Maybe other info become useful in the future.
I change the code a little bit and pushed in the dev branch here:
https://github.com/fani-lab/OpeNTF/blob/dev/src/cmn/github.py

Now, the question is where the list of repos are. Next, how can we write a scheduler that when the limit is reached, the code waits and then continues nex

[2022-09-07 20:04] gabrielrueda commented on #167
Hi @hosseinfani
The list of repos will be stored in a txt file, with one repo name per line. I was using a temp list of 10 repos for testing, but now I will find a longer list of repos. Aproximately how many repos will be an appropriate amount? I will also work on figuring out the scheduler.

[2022-09-07 20:31] hosseinfani commented on #167
@gabrielrueda
thank you.
About 500k to 1M would be a good number of repos. Also, we need to find a filter on repos. We should crawl info from "good" repos. Otherwise, we end up with many unimportant repos with no release or only one contributor.

@VaghehDashti and @Hamedloghmani please join and share your thoughts

[2022-09-07 23:49] Hamedloghmani commented on #167
Thanks for asking about my opinion. @hosseinfani
Personally I am not sure whether we should filter our source of crawling or not. First, because being good or bad is subjective. Second, having a set of good repos looks like a probable source of bias(like the first point that I mentioned).
I am still new to team formation though. My thoughts might be completely of the map.

[2022-09-08 23:16] karan96 opened #170 "2020 : SIGIR: Joint Item Recommendation and Attribute Inference: An Adaptive Graph Convolutional Network Approach"
Title: - SIGIR: Joint Item Recommendation and Attribute Inference: An Adaptive Graph Convolutional Network Approach
Year: - 2020
Venue: - 43rd International ACM SIGIR conference on research and development in Information Retrieval

Main Problem
The authors argues that recommendation methods such as Collabortive Filtering and GCNs do not perform very well when it comes to values missing some of the

[2022-09-09 01:56] hosseinfani commented on #170
@soroush-ziaeinejad

[2022-09-09 17:44] hamedwaezi01 commented on #162
I knew that using a sigmoid in hidden layers would lead to very slow learning, but I wasn't sure if it had any effects when applied to the output layer. I just searched more about this case and learned it is not valid.
**Sorry for my late response**

[2022-09-11 20:55] gabrielrueda commented on #167
Hello @hosseinfani,
Here is an update. I implement a scheduler to run every 8 seconds since that would give 1350 calls per hour (below the 1500 calls per hour limit). I also added a filter for the number of collabs being less than 2. The code will be below.
Note: I installed the schedule library (`pip install Schedule`) for the scheduler

Also, I ended up obtaining the using BigQuery so I will pos

[2022-09-12 02:41] hosseinfani commented on #167
@gabrielrueda
Thank you. Can you also put (as comments) how to connect and query the BigQuery for the repo names?

[2022-09-12 13:16] gabrielrueda commented on #167
@hosseinfani
I didn't really connect the two. Instead, I ran the BigQuery script on directly on the cloud.google.com website and downloaded the resulting csv.
[code]

[2022-09-12 16:12] karan96 opened #171 "2019 : AAAI: Attention Based Spatial-Temporal Graph Convolutional Networks for Traffic Flow Forecasting"
Title: - AAAI: Attention Based Spatial-Temporal Graph Convolutional Networks for Traffic Flow Forecasting
Year: - 2019
Venue: - AAAI

Main Problem
The author argues that the problem of forecasting traffic flow is dynamic and non-linear in nature. The spatial and temporals aspects of traffic flow are dynamically correlated to each other and affect the performance of traffic on a given highway or ro

[2022-09-13 02:59] karan96 commented on #157
@hosseinfani  Greetings,

I was able to make progress on running the code for the creation of teamsvecs.pkl file but it is still not getting complete and now it is getting stuck at: -
[code]
I tried multiple things like changing the code a bit, increased time, and increased memory but nothing seemed to help and now I require your assistance in this. Kindly let me know a suitable time in lab in whi

[2022-09-13 16:21] hosseinfani commented on #157
@karan96
I'm in the lab today.

[2022-09-13 22:17] karan96 commented on #170
@hosseinfani Greetings Dr. Fani,
 In order to implement this work on our toy dataset, I am trying to understand the files they are using as the dataset in their work. They have not explained how they are preprocessing the data so I am trying to understand myself. Here is a summary of the files they are using from what I have understood: -

traindata	#	Training Data
valdata		#	Validation Data
testd

[2022-09-15 19:18] Hamedloghmani opened #172 "2022: CIKM : OpeNTF: A Benchmark Library for Neural Team Formation"
**Title: [OpeNTF: A Benchmark Library for Neural Team Formation]**(https://hosseinfani.github.io/res/papers/A%20Benchmark%20Library%20for%20Neural%20Team%20Formation.pdf)
Year: 2022
Venue: CIKM

**Main Problem**
The main goal of this research is to obtain a benchmark library for the given problem namely, “Neural Team Formation”. To put the team formation problem in a nutshell, with a set of requir

[2022-09-15 20:04] hosseinfani commented on #172
@Hamedloghmani
gaps of current work? gaps of existing works? what is dense vector and how is it calculated? what we mean by negative or positive  samples?

[2022-09-15 21:21] hosseinfani commented on #167
@gabrielrueda
thank you very much. I will go through the code and will let you know if I have a question.

@Hamedloghmani
Please schedule crawling the github as one of your tasks.

[2022-09-15 22:31] Hamedloghmani commented on #172
@hosseinfani
Thanks. I updated the text based on your comments.
I was not sure ( still not sure) how detailed should my explanations be.

[2022-09-15 22:43] hosseinfani commented on #172
@Hamedloghmani
you'll get it.
Btw, 1 short paper (which was fully explained by me ;) in a week is very scarce.
Also, how about other tasks like installation ...
We'll talk tomorrow.

[2022-09-15 23:05] Hamedloghmani commented on #172
@hosseinfani
You're totally right.
I'll explain tomorrow.

[2022-09-16 00:35] gabrielrueda commented on #167
@hosseinfani
Hi, I forgot to change the line `schedule.every(1).seconds.do(getData, w=w)` to `schedule.every(8).seconds.do(getData, w=w)`. I changed for testing purposes.

Sorry if that caused any disruption.

[2022-09-17 00:38] hosseinfani commented on #167
@gabrielrueda
Thank you very much.

[2022-09-17 03:48] karan96 commented on #170
An Update on the above data files based on the discussion we had today:  -
users: - experts / location
user's attirbutes: - skills
items: - location / users

traindata # Training Data
valdata # Validation Data
testdata # Test Data
user_items # User - Items -- User to location set where ({userid:{location_ids}})
A_indexs # User/Items(Uncertain) to indexes - Adjacency Matrix of user, items in the fo

[2022-09-17 03:49] karan96 commented on #170
@hosseinfani  Dr. Fani,
I require your presence in the lab tomorrow i.e. Saturday 17 Sept. Kindly let me know when you are available and I will come to the lab.

[2022-09-25 16:36] Hamedloghmani commented on #167
Hello @hosseinfani,
I found 7 datasets containing GitHub information. Each of these datasets have some pros and cons and for sure they are not perfect. But they can be used as a means to create a perfect one. Usually, after crawling we have to dedicate so much time and energy to pre-process and clean the data. Hence, these datasets worth looking into and at least make our crawling process more to

[2022-09-25 18:24] hosseinfani commented on #167
@Hamedloghmani
Thank you.
Please start coding the dal part in github.py and creating the sparse matrix for it.

[2022-09-27 21:57] Hamedloghmani opened #176 "2020: CIKM: Learning to Form Skill-based Teams of Experts"
**Title**: [Learning to Form Skill-based Teams of Experts](https://dl.acm.org/doi/10.1145/3340531.3412140)
**Year**: 2020
**Venue**: CIKM

**Main Problem**
The aim of this research is to find an optimal team of experts for a project with specific set of required skills to maximize the chance of their success.

**Related Works**
This problem was first tackled by [1] where the authors came up with a

[2022-09-28 01:37] hosseinfani commented on #176
@Hamedloghmani
Good summary!

Please separate the gaps in a section.

[2022-09-28 01:47] Hamedloghmani commented on #176
@hosseinfani
Thanks a lot !
Sure, I updated the summary.

[2022-10-06 21:03] cdcorro commented on #6
@hosseinfani I have created some test functions that I was working on over the past week and was looking into testing them out with the toy data however I can't find the time array data. I am in the dev branch, would you happen to know the file path to the year: index array?

[2022-10-06 22:33] karan96 opened #177 "[ECIR 2023]: Spatial Team Formation Paper Writeup"
@hosseinfani Opening this issue to track paper writeup progress. Kindly review whatever that I have written by following this link: - https://docs.google.com/document/d/1qwcW9lhAyLH8CtwBKU1GXxFrTqS9oJ1nbj1VdSXYQ2k/edit?usp=sharing also shared on your Gmail. The abstract deadline is tomorrow i.e. 7th. Kindly review the abstract and suggest necessary changes that could be done so I can make the dead

[2022-10-07 20:18] hosseinfani commented on #6
@cdcorro
thank you for the update.
true. I've run the code on dev on the toy datasets and created the pickle files for you. They're pushed at the following locations:

./data/preprocessed/*/toy.*/*.pkl

[2022-10-07 20:23] VaghehDashti commented on #6
Hi @hosseinfani
I have written the code to plot the #teams_over_years_dist but there are too many years (ticks) on the x-axis and too many values (ticks) on the y-axis, making the plot look bad. I am trying to figure out how to fix this issue. Also, this has been done using the teams.pkl and not the sparse matrix. I still have not found a way to use the sparse matrix to obtain time related distrib

[2022-10-07 20:36] hosseinfani commented on #6
@VaghehDashti
thanks. can we have a look at the image here?
we have y2i and i2y index that includes the starting and ending index of rows form teams inside the teamsvec.pkl. I think we can render the distribution using that.

[2022-10-08 00:21] VaghehDashti commented on #6
@hosseinfani
dblp:
[dblp_time_dist.pdf](https://github.com/fani-lab/OpeNTF/files/9737985/dblp_time_dist.pdf)
imdb:
[imdb_time_dist.pdf](https://github.com/fani-lab/OpeNTF/files/9737986/imdb_time_dist.pdf)
uspt:
[uspt_time_dist.pdf](https://github.com/fani-lab/OpeNTF/files/9737987/uspt_time_dist.pdf)

Yes, that's a good idea. I will look into it.

[2022-10-08 04:10] hosseinfani commented on #6
@VaghehDashti
x is the year, but what is y? the number of teams?
If so, dblp and uspt simply say that the number grows within the year, but imdb not.
What important here is the distribution of member-skills in time. That is some skills become depricated while others become trendy in recent time. And members shift their skills within time.

We have to find a way to show such as thing. Something lik

[2022-10-09 05:05] hosseinfani commented on #168
@rezaBarzgar

https://github.com/fani-lab/OpeNTF/blob/148c1c2defe1176563f162ad159b2ffe0af15ecc/src/mdl/fnn.py#L36

[2022-10-09 16:32] cdcorro commented on #6
hi @hosseinfani,

I'm currently trying to adjust the functions that I created to fit in the get_stats() function. However, since my functions mainly use the 'i2y', '12c', 'i2s', etc. data rather than **teamvecs**, I have some questions regarding that function's parameters.

1.  is teamsvecs a dataframe (from pandas)? if so what are the column names?
2.  does **teamsvecs** also include the year for

[2022-10-09 17:41] hosseinfani commented on #6
Hi @cdcorro
1. No, it's a dictionary of lil_matrix, that is, {'id': lil_matrix, 'skill': lil_matrix, 'member': lil_matrix}. The file can be loaded by pickle.load()

2. No. There is y2i that is list of tuples (row_index, year) that show what is the starting row_index for a year.
e.g., [(0, 1990),(13, 1991), (25, 1992)...] which means that the rows (teams) from rows 0 till 13-1 is for year 1990, and

[2022-10-09 17:55] cdcorro commented on #6
@hosseinfani

oh okay, that clarifies some things for me. just a few follow up questions:

regarding question 2, get_stats requires these parameters (cls, teamsvecs, output, cache=True, plot=False, plot_title=None). From these parameters is it possible to get the y2i? or do I need to add it as a new parameter to the function?

as for question 3, yes is there a way to render the matrix using the to

[2022-10-09 18:12] hosseinfani commented on #6
@cdcorro

oh, correct, you need to add an arg to pass  the index file

there must be a way. I think matplotlib does that. I've not done that in python tho but rememebr you have first make the sparse matric to dense.

[2022-10-11 00:46] hosseinfani commented on #177
@karan96
Thanks. I've read the draft and left few comments.

[2022-10-12 00:46] VaghehDashti commented on #6
Hi @hosseinfani,
Here are the new plots with proper x and y ticks:
dblp:
[dblp_time_distribution.pdf](https://github.com/fani-lab/OpeNTF/files/9760545/dblp_time_distribution.pdf)
imdb:
[imdb_time_distribution.pdf](https://github.com/fani-lab/OpeNTF/files/9760548/imdb_time_distribution.pdf)
uspt:
[uspt_time_distribution.pdf](https://github.com/fani-lab/OpeNTF/files/9760549/uspt_time_distribution.pd

[2022-10-12 21:20] Hamedloghmani commented on #167
@hosseinfani
After creating a toy example, I found out that this dataset is not proper for our purpose because for each repo, only the owner is indicated. As a result, it is not possible to create a team out of each repo. Currently I am looking for another dataset.

[2022-10-13 16:51] rezaBarzgar commented on #168
### The answer to the question that you asked in the meeting (9 Oct 2022):

Difference between sigmoid & softmax:
outputs of the sigmoid function are independent while those of softmax are interrelated. In other words, the sum of softmax outputs is always 1, but it is incorrect for sigmoid. Increase in probability of one class results in decrease of other class or classes probability.

### questio

[2022-10-16 06:11] hosseinfani commented on #168
@rezaBarzgar
Thanks for the update and sorry for the late reply.

I reviewed the code and found that we select sigmoid because we have a multiclass classification, each member being a class, that is, an input skill can belong to multiple members to form the team.

So, this task can be closed. No need for speedup for softmax for this architecture. We can start another task.

Before that, can you pl

[2022-10-16 08:38] hosseinfani commented on #167
@Hamedloghmani
Please update here with anything related to this task like code commit, crawling progress, ...

[2022-10-17 14:16] rezaBarzgar commented on #168
@hosseinfani
Sorry, the question is a little bit ambiguous for me.
If your question is "Is sigmoid applied on all nodes in the output layer?", I believe the answer is yes.
But, if your question is "if we run OpeNTF in parallel mode, has sigmoid been applied on all nodes of the output layer?", I could not find where to look for it.

[2022-10-17 20:02] hosseinfani commented on #168
@rezaBarzgar
my question is "Is sigmoid applied on all nodes in the output layer *in parallel*?" Not sure my question is sound tho.

like in below sample, the sigmoid is applied on `input` elements in parallel?

[code]

[2022-10-18 16:13] hosseinfani commented on #168
@rezaBarzgar
Just a reminder that we used pytorch, not tensorflow. But I think they follow the same idea in underlying functions.
We can safely close this issue then.

[2022-10-18 16:13] #168 closed

[2022-10-18 16:15] hosseinfani commented on #156
@rezaBarzgar
Let's move on to this issue. We can have a quick meeting to discuss this issue. But I just wanted you to self-study this and let me know what you think.

[2022-10-18 16:16] hosseinfani commented on #118
@VaghehDashti
Here, post the streaming scenario image that we made.

[2022-10-18 17:49] VaghehDashti commented on #118
[streaming scenario plot.pptx](https://github.com/fani-lab/OpeNTF/files/9813832/streaming.scenario.plot.pptx)

[2022-10-18 23:34] Daljeet-sandhu commented on #22
Hello prof,
Here is my progress. I declared the location. I calculated the total number of locationsby using locationvecs.shape[1].
I also tried to determine the number of teams that have only 1 location, 2 locations, ..
![Screenshot (407)](https://user-images.githubusercontent.com/61301173/196563857-5252a812-eedb-4525-8263-fb26b093c07e.png)
Just wanted to get your confirmation regarding the code

[2022-10-19 15:52] rezaBarzgar commented on #156
@hosseinfani
I am ready to have a meeting. According to OpeNTF's paper _"A neural model is an estimator for a mapping function 𝑓 from a subset of skills to a subset of experts, i.e., 𝑓(𝑠)= 𝑒."_. By solving this problem, OpeNTF model is not a mapping function anymore.
Also, an idea came to my mind. We can change sigmoid function's threshold in output layer. As a result, more nodes(members) will be

[2022-10-19 17:34] hosseinfani commented on #156
@rezaBarzgar
how about tomorrow (thursday) at noon est?

[2022-10-19 18:17] rezaBarzgar commented on #156
@hosseinfani
Unfortunately I am not available between 19:00-23:45 (IRST)

[2022-10-19 18:40] rezaBarzgar commented on #156
@hosseinfani yes I am

[2022-10-19 18:41] hosseinfani commented on #156
@rezaBarzgar send the link to your email

[2022-10-19 18:56] hosseinfani commented on #156
![image](https://user-images.githubusercontent.com/8619934/196779736-b9206f05-7e56-4289-9180-43fb0304fed7.png)

[2022-10-19 19:30] hosseinfani commented on #22
@Daljeet-sandhu
I believe you're on the right track.
We have a toy dataset for uspt: https://github.com/fani-lab/OpeNTF/blob/main/data/preprocessed/uspt/toy.patent.tsv/teamsvecs.pkl

You can test the correctness of the results by that.

[2022-10-19 19:33] Daljeet-sandhu commented on #22
@hosseinfani  All right. Thanks.

[2022-10-24 22:43] Hamedloghmani commented on #167
Crawling Status Update:
80,000 / 1,700,000 repos crawled. The pace is a bit slow. Just wanted to share in case you need the data by a deadline or you want to think an alternate solution.
@hosseinfani

[2022-10-25 01:53] Hamedloghmani commented on #167
I ran the src/misc/stat.py on the pickle object of the above dataset and the stats are as follows:

*nteams : 33849
*nmembers : 144246
*nskills : 78041
*avg_nskills_team : 2.8284439717569203
*nteams_single_skill : 9376
*avg_nskills_member : 4.981330504832023
*avg_nmembers_team : 5.543324765871961
*nteams_single_member : 0
*avg_nteams_member : 1.3008055682653246
9.074548721313477

Unfortunately, I

[2022-10-25 19:01] VaghehDashti opened #178 "Data Integration"
Hello @hosseinfani,
I created this issue as you asked to put updates for uploading the models and results of our temporal paper to ms-teams.
dblp is almost done. only bnn_emb is left.
imdb bnn, bnn_emb, and tbnn is done. tbnn_emb and tbnn_dt2v_emb is left.
uspt bnn and bnn_emb is done. tbnn, tbnn_emb, and tbnn_dt2v is left.

[2022-10-25 20:46] VaghehDashti opened #179 "Hyperparameter Study for neural models"
Hello @hosseinfani,
I created this issue to put the updates for the hyperparameter study of temporal team formation.
I started the run with 2 layers of [64,128] on all models [bnn, bnn_emb, tbnn, tbnn_emb, tbnn_dt2v_emb] and on the three datasets (15 runs in total). I will run the models with 3 layers of [64,128,256] afterwards.

[2022-10-25 21:41] hosseinfani commented on #179
@VaghehDashti
the choices of layers should be like [128, 64, 128], that is narrowing down and expanding. Please redo for this setting.
Also, do this only for bnn and fnn.

[2022-10-25 22:10] VaghehDashti commented on #179
@hosseinfani
I will do that for 3 layers. So for two layers it should be [128, 64]?
Also, could you explain why fnn? We're starting from the best model from the negative sampling paper, and comparing with new temporal models. Hence, I think the chosen models are appropriate for our temporal hyperparameter study. Please let me know what you think.

[2022-10-25 23:58] Daljeet-sandhu commented on #22
@hosseinfani
I was able to complete following parameters:
For testing,(still a little confused)
Could you please let me know the steps or refer me to the document that explains the programs that i need to run step by step.
![Screenshot (411)](https://user-images.githubusercontent.com/61301173/197903633-5a2f2d7e-20fb-416f-8156-ec5fa1eb1989.png)

thanks

[2022-10-26 02:11] hosseinfani commented on #179
@VaghehDashti
Agree.

[2022-10-26 22:54] VaghehDashti commented on #178
Hi @hosseinfani,
imdb and upst's results are uploaded as well.
I will move forward to rrn's results.

[2022-10-27 11:48] hosseinfani commented on #178
@VaghehDashti
you had to upload to a seprate folder not the opentf0.1! You overwrite the previous results. Let's talk about it today at lab.

[2022-10-27 12:44] hosseinfani commented on #22
@Daljeet-sandhu
Thank you.
we have a piece of code that accept the sparse matrix and calls the Team.get_stat():
https://github.com/fani-lab/OpeNTF/blob/dev/src/misc/stats.py

You can pass the sparse matrix with the `plot=True` and `plot_title='the domain name'`. It outputs the single value stats and also draws the distributions in a pdf file.

This way you can test your code on toy datasets availa

[2022-10-28 01:37] VaghehDashti commented on #178
Hi @hosseinfani,
rrn's results plus the reformulated input data and the predictions of the model are uploaded to ms-teams as well.

[2022-10-28 02:13] hosseinfani commented on #178
@VaghehDashti
Thank you. All is done then, right?

[2022-10-28 16:31] VaghehDashti commented on #178
@hosseinfani
Yes, it is done.

[2022-10-28 17:24] cdcorro commented on #6
Hi @hosseinfani,

I was able to move my temporal stats into the get_stats() function. I added the parameter "i2y" to be the array of index to year. The only issue I'm facing is that I wanted to run this get_stats() function to test that everything runs smoothly, but I'm having a hard time finding where the get_stats() function gets called. Also, I was wondering if there was a command to run the st

[2022-10-28 18:53] hosseinfani opened #180 "Bayesian Hyperparameter Tuning"
https://towardsdatascience.com/mango-a-new-way-to-make-bayesian-optimisation-in-python-a1a09989c6d8

[2022-10-28 22:28] hosseinfani commented on #178
@VaghehDashti
I've the files. I think the preprocessed folder is missing. We need the pkl files in preprocessed folder on which these results have been obtained.

[2022-10-28 23:01] VaghehDashti commented on #178
Hi @hosseinfani,
Oh, I didn't know about this. I will upload them and let you know when done.

[2022-10-29 05:54] VaghehDashti commented on #178
Dblp's preprocessed data is uploaded. imdb and uspt are being downloaded.

[2022-10-29 17:16] VaghehDashti commented on #178
Hi @hosseinfani,
All is done.

[2022-10-29 17:21] cdcorro commented on #6
Thank you @hosseinfani.

I just have a quick question. I printed out the membervecs (which are teamvecs['members']) and I got this format. I was just wondering if you could help me define what I'm looking at as it would help a lot in the debugging processes I'm doing at the moment :)

![image](https://user-images.githubusercontent.com/53372649/198844876-4218b3cf-2525-4cd5-8db4-d4d2859683d9.png)

[2022-10-29 19:07] hosseinfani commented on #6
@cdcorro
the data structure is sparse matrix, only keep the nonzero values.
here the rows show the team index, the column shows the member index, and the value ahows the membership.

(x,y)=1 means that team x has member y

[2022-10-31 20:16] hosseinfani commented on #178
@VaghehDashti
Thank you. I download the files from msteams in my local drive also. Just to make sure the upload happened correctly, the full size is 70.5 GB, is that the right size in your local drive/sharcnet drive?

[2022-10-31 20:36] VaghehDashti commented on #178
Hi @hosseinfani,
I don't know the exact size because after uploading them I would delete them from the local machine. However, I should let you know that my earlier guess about the total uncompressed size was wrong because there were a lot of old experiments or experiments with different filterings that I deleted before downloading from sharcnet and uploading to ms-teams.

[2022-11-02 16:20] Daljeet-sandhu commented on #22
@hosseinfani
Ok prof, I will work on the dev codeline.

What other parameter regarding the location that i should work on, next?

I did complete these:
#average number of people from each location
#how many members are from a particular location
#how many skills are from a particular location
# how many teams have only 1 location, 2 locations, ...

Please let me know.
Thank you

[2022-11-02 16:55] hosseinfani commented on #22
@Daljeet-sandhu
We also need these:

-How many members have only 1 location, 2 locations, ... ==> a person may be in different locations for different patents.
-we need a 3-d matrix (heatmap) with (x, y, z) where x: locations, y: skills, z: the number of patents (x, y). For example, we have `z=10` patents about `y=computer` that filed in `x=US`
-we need a 3-d matrix (heatmap) with (x, y, z) where

[2022-11-02 22:50] VaghehDashti commented on #178
Hi @hosseinfani,
I've uploaded the results of the experiments on dblp with [128,64,128] and [256,128,64,128,256] to ms-teams. The performance of bnn and bnn_emb has decreased on dblp. I think the decrease in performance is due to the size of the models getting larger while the #training instance has not increased, so the model is probably underfitting. Although, changing the model size may require

[2022-11-03 15:51] hosseinfani commented on #178
Hi @VaghehDashti
Thanks. I replied in #120

[2022-11-03 15:53] hosseinfani commented on #120
@VaghehDashti
It might be also overfit. Have you seen the result on training set? What is the behaviour on valid set? Please reply to #120

[2022-11-03 15:53] hosseinfani commented on #179
@VaghehDashti
It might be also overfit. Have you seen the result on training set? What is the behaviour on valid set?

[2022-11-03 15:55] hosseinfani commented on #120
@VaghehDashti
You see, here I expect this since Feb 2022!
I close this as we have #179

[2022-11-03 15:55] #120 closed

[2022-11-03 16:31] VaghehDashti commented on #179
Hi @hosseinfani,
That could be another possibility. Here are the training/validation loss for the datasets:
dblp:
this is for bnn with [128,64,128]. the loss for [256...256] looks similar. the other folds are similar as well.
![f4 train_valid_loss](https://user-images.githubusercontent.com/80131857/199777816-7dac51b0-0a36-4b12-ba60-e622382629bc.png)
this for bnn_emb: same as bnn
![f4 train_valid_l

[2022-11-03 16:32] VaghehDashti commented on #179
I should also mention that the range of loss is higher for all three datasets on both models compared to one layer.

[2022-11-03 18:24] hosseinfani commented on #179
@VaghehDashti
does not make sense. increasing epoch make it worse??

[2022-11-03 21:17] VaghehDashti commented on #179
@hosseinfani,
yes, that is strange, especially for the training set. The only thing that after thinking and a bit of searching came up was that the learning rate may be bigger than what it should be (I used the same learning rate as with 1 layer).

[2022-11-04 01:35] VaghehDashti commented on #178
Hi @hosseinfani,
The results of uspt is also uploaded to ms-teams for 3 and 5 layers and both models.

[2022-11-04 17:37] VaghehDashti commented on #178
Hi @hosseinfani,
I've pushed the results of the the ecir paper to github. Please pull.

[2022-11-08 00:48] VaghehDashti commented on #179
Hi @hosseinfani,
I ran bnn and bnn_emb with 3 layers [128,64,128] on imdb with learning rate of 0.01 and 0.001. Now training and validation loss for both models decrease after each epoch for both models. However, the performance of both models has decreased significantly.
bnn with 0.01:
![f4 train_valid_loss](https://user-images.githubusercontent.com/80131857/200446316-2887e9bb-24a2-4dc6-a668-e7c3

[2022-11-08 01:31] VaghehDashti commented on #178
Hi @hosseinfani,
The results for imdb with 3 layers [128,64,128] with learning rates of 0.01 and 0.001 are uploaded to ms-teams.

[2022-11-08 01:57] hosseinfani commented on #179
@VaghehDashti
thanks. now we can say overfitting is happening, right?
No need to add more layers.

[2022-11-08 02:02] VaghehDashti commented on #179
@hosseinfani,
Yes, it is overfitting the training set for imdb. If we see the same results for dblp and uspt, I think we can move forward to the next hyperparameter. I'll put the results here, when they are ready.

[2022-11-08 04:03] hosseinfani commented on #179
@VaghehDashti
I had a second look. I think the train loss and valid loss is very close. Sometimes valid loss is less. this also does not make sense! please study more. shouldn't be like that. Are they running with a temporal baseline for test on last years?

[2022-11-08 04:47] VaghehDashti commented on #179
@hosseinfani
I checked the training/validation loss from the models from our previous experiments and in all of them the training/validation loss are close and sometimes even the validation loss goes lower for some folds, then I checked the training/validation loss of the other folds for the new experiments and it training loss is lower. Here are some samples:
bnn with lr 0.01:
![f1 train_valid_lo

[2022-11-08 17:15] VaghehDashti commented on #179
@hosseinfani,
After more thinking, if the model was overfitting the training data, the validation loss should have increased at the later epochs. one reason that the model is performing well on validation but not on the test set is that we take the last year as test set but shuffle the remaining data for training/validation, so the distribution of validation and training sets are more close to eac

[2022-11-08 17:18] hosseinfani commented on #179
@VaghehDashti
that's why I asked you the last question. you replied No though!

[2022-11-08 17:22] VaghehDashti commented on #179
@hosseinfani,
Oh my bad. I thought you meant if I'm running with streaming learning.

[2022-11-08 17:32] cdcorro commented on #6
@hosseinfani

I was able to finish and test the first iteration of the temporal stats using the toy data. I was trying to make a push request, but it seems that I have not been given permission to push to the repository:

![image](https://user-images.githubusercontent.com/53372649/200634829-740b29df-23a9-4064-ac25-c98a54ce94b3.png)

[2022-11-08 18:02] rezaBarzgar commented on #156
@hosseinfani
Hi, I have opened a branch with this issue name and pushed a [function](https://github.com/fani-lab/OpeNTF/blob/def6a83a4d6d413577960f06fb65cd9463862d68/src/main.py#L129) that merges vectors that have similar skills. I haven't added an input switch yet.
Please check it out if it is possible for you and let me know what you think.

[2022-11-09 05:03] hosseinfani commented on #156
@rezaBarzgar
Thank you. I unit test and works fine. I did some minor changes. see below.
Please put the revised code in ./cmn/tools.py
[code]

An important note is that we should only apply this on the test split. But in the split dictionary, for the test part, we keep the rowids. After merging on the actual matrix, we need to update the rowids as well which is daunting and have some unknown effec

[2022-11-09 19:05] hosseinfani commented on #156
@rezaBarzgar
also, just a quick reminder that also push for necessary changes per lines. For example, you ide may clean the lines and make necessary changes to other parts of the code. Please do not push them since tracking the changes for a specific bug/feature becomes difficult. Thanks.

[2022-11-09 19:13] hosseinfani commented on #6
@cdcorro
strange! can you make pr?

[2022-11-09 19:28] cdcorro commented on #6
@hosseinfani

I am unable to push any of the code I added. I just get the permission error message as stated above.

[2022-11-09 19:32] hosseinfani commented on #6
@cdcorro pls try now

[2022-11-09 20:15] cdcorro commented on #6
@hosseinfani

Thank you!  I was able to make a PR (https://github.com/fani-lab/OpeNTF/pull/181). I made it with a branch called "Charles-branch". If you have any questions just let me know :)

[2022-11-09 21:34] VaghehDashti commented on #179
@hosseinfani,
I ran the bnn with [128,64,128] with the normal train/valid/test split as we discussed yesterday. here is the results:
![f2 train_valid_loss](https://user-images.githubusercontent.com/80131857/200945941-20da22f3-8ef8-4c1d-a791-0d454586041c.png)

<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-htm

[2022-11-10 02:44] hosseinfani commented on #179
@VaghehDashti thanks.
Foremost, explain your findings about the number of layers and sizes here in a formal way. What was the settings, db, ...
Then, you can go ahead with the #nns.

[2022-11-11 23:27] VaghehDashti commented on #179
@hosseinfani sure. Here is a brief summary of our experimentation until now:
0. We conducted our experiments using bnn and bnn_emb due to their stronger performance overall 3 datasets based on our negative sampling paper.
1. To start our hyperparameter study, we increased the number of layers from 1 to 3 and 5 with the following formation of nodes [128,64,128] and [256,128,64,128,256] using the ba

[2022-11-11 23:56] hosseinfani commented on #179
since bnn is the baseline, I think it's better start with number of sampling in bnn without the nns. Then for the best number of sampling in bnn, we go for nns.

[2022-11-12 00:18] VaghehDashti commented on #179
@hosseinfani sure, I just fixed the bnn.py and now we can experiment with the number of bayesian sampling. I am going to try number of samples 5, 10, 20. Is that okay or do you have other suggestions?

[2022-11-12 00:19] hosseinfani commented on #179
that's fine

[2022-11-13 22:47] VaghehDashti commented on #178
Hi @hosseinfani,
I wanted to let you know that the data for experiments on #layers/nodes with different learning rates are uploaded to ms-teams and the results are pushed to dev. Will update here after finishing the experiments on #bayesian samples.

[2022-11-15 03:03] karan96 opened #182 "Graph Neural Networks on USPT"
Opening this issue to track our usage of GNNs on USPT dataset.
Things to do: - Update this issue page with the details of the previous experiment running GNN embeddings using BNN.

Greetings  Dr. @hosseinfani,
I was trying to create a data frame that will be fed to a GNN and from which embeddings including locations, experts and skills as experts' attributes will be made. The resultant data frame

[2022-11-15 03:06] karan96 commented on #182
@hosseinfani  For some reason I cannot edit the issue and assign to myself or edit the project  or label for this issue. Could you please do that for me?

[2022-11-16 02:02] Daljeet-sandhu commented on #22
hello professor @hosseinfani , I am stuck and I need your help. I am free tomorrow - Wednesday throughout the day. Ping me for a meetup when free. thanks

[2022-11-16 18:52] hosseinfani commented on #22
@Daljeet-sandhu
I have classes on wednesdays.
How about tomorrow (thursday)? I'll on campus after noon till evening

[2022-11-16 22:13] VaghehDashti commented on #179
Hi @hosseinfani,
Hope you are doing well. Here are the results for bnn and bnn_emb on imdb with #bs (bayesian samples) 1,5,10,20.

the train/validation loss and the results for imdb from original with **bnn** and **#bs = 1**:
![f2 train_valid_loss](https://user-images.githubusercontent.com/80131857/202298164-e0c6c681-ffd2-4d8f-a070-16f4a34c5bcd.png)

<html xmlns:o="urn:schemas-microsoft-com:office

[2022-11-16 22:19] hosseinfani commented on #179
@VaghehDashti
Thanks. To have a better visual comparison:
- put the results in one table for each dataset
- draw the train/valid diagram in one figure for each dataset

this is in contradict to my knowledge though. Usually increasing bs should have an improving effect up until some point.

[2022-11-16 22:49] VaghehDashti commented on #179
@hosseinfani,
The results for imdb:
<html><body>
<google-sheets-html-origin><style type="text/css"></style>

  | P_2 | P_5 | P_10 | rec_2 | rec_5 | rec_10 | ndcg_2 | ndcg_5 | ndcg_10 | map_2 | map_5 | map_10 | aucroc
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
bnn #bs=1 | 0.0080 | 0.0082 | 0.0075 | 0.0035 | 0.0092 | 0.0171 | 0.0080 | 0.0090 | 0.0127 | 0.0027 | 0.0044 | 0.00

[2022-11-17 00:05] VaghehDashti commented on #179
@hosseinfani,
Here are the train/val figures:
**dblp**: it looks like the model is overfitting with #bs=5 (lower training loss and higher valid loss)

![l 128 lr0 1 b128 e20 nns3 nsunigram_b f2 train_valid_loss](https://user-images.githubusercontent.com/80131857/202320061-0692d2a4-1a5c-44fb-93a3-1c784ec5fe09.png)

![l 128 lr0 1 b128 e20 nns3 nsunigram_b f2 train_valid_loss](https://user-images.git

[2022-11-17 01:33] hosseinfani commented on #179
@VaghehDashti
Thank you. Please
- share the code here or push it to the codeline
- make the lines for vali same color with its training pair but dashed
- make the figures smaller and use subplots (e.g., 3 by 3) so that in one snapshot we can see the results of all datasets

I have to look into the code and see what's going on.

[2022-11-17 20:46] VaghehDashti commented on #179
Hi @hosseinfani,
I pushed the updated code based on what you said to the misc folder, i.e. they are the average of folds and the train/val are the same color for each #bs.
To run the code, you need to cd to src and then run:
[code]
here is the results:
![l 128 lr0 1 b128 e20 nns3 nsunigram_b train_valid_loss](https://user-images.githubusercontent.com/80131857/202555383-5d4d74c6-1512-4da6-8b73-7c99

[2022-11-17 21:40] Daljeet-sandhu commented on #22
@hosseinfani
I was able to work on both heatmap functions.
def loc_heatmap_skills(dataset)
def loc_heatmap_members(dataset):

But while testing,(through  stats.py)
I was receiving this error:
![Screenshot (434)](https://user-images.githubusercontent.com/61301173/202564795-7b0df2e8-f01f-4b82-826d-51ea7317fe99.png)
I installed param using pip install params, same error again.
I tried commenting out

[2022-11-17 23:35] VaghehDashti commented on #179
Hi @hosseinfani,
Here is a brief explanation of how Bayesian neural networks work:
In the forward propagation, for each input instance the model samples #bs weights and hence predicts #bs outputs, i.e. for each expert the model predicts #bs probabilities, then averages the #bs probabilities of each expert and uses the average probabilities for calculating the loss for that instance. After #batch_s

[2022-11-17 23:57] hosseinfani commented on #22
@Daljeet-sandhu
`param` is not an external package. It's our code in /src/param.py.
to run stats.py, you have to put your working directory at /src. Otherwise, it cannot find the internal files and packages.
I donno have to change the working directory at shell. I usually run the stat.py in my ide.

[2022-11-18 09:28] rezaBarzgar commented on #156
@hosseinfani
Hi Professor. I added the function with "distinct" argument to "cnm.tools.py". now rows will not be deleted if `distinct=True`.
But, I have a problem adding this function to the Test part of models. for example when I want to import the function from `cnm.tools`, the following error occurs:
`ModuleNotFoundError: No module named 'cnm'`

[2022-11-18 09:57] hosseinfani commented on #156
@rezaBarzgar
cnm => cmn

[2022-11-20 07:45] hosseinfani commented on #179
@VaghehDashti
I had a look at the code. Why at valid, we still do 1 sample? We can do s sample like train so the loss comparison become fair. Also, I think we need to change the test code to do average on s preditions.

I ran on dblp toy and here is the result before and after the fix.
After the fix, up until some s, we see improvement. Also, for all s, the range is lower after the fix.

https://d

[2022-11-21 20:30] VaghehDashti commented on #179
@hosseinfani,
I think I followed josh feldman's blog/code when I hard-coded the #bs=1 for validaiton. Unfortunately, I cannot confirm because as you know his website is down. I will look at other implementations of bnn and see if they do the same thing and let you know.

[2022-11-21 20:34] hosseinfani commented on #179
@VaghehDashti
don't need to check. as seen, the results become better. go ahead with `s` sampling during validation and averaging during the test.

[2022-11-21 21:58] VaghehDashti commented on #179
@hosseinfani,
Sure. I was thinking we can use #bs={3,5,10} instead of {5,10,20} to have the results sooner. What do you think?

[2022-11-21 22:05] hosseinfani commented on #179
@VaghehDashti agree. But first see the result of toy datasets after averaging the predictions on test set.

[2022-11-21 22:46] VaghehDashti commented on #179
@hosseinfani
here are the results of bnn with #bs=3 and 20 epochs on toy-dblp without averaging the predictions:

![f2 train_valid_loss](https://user-images.githubusercontent.com/80131857/203172873-de899e65-7272-42a1-a5fb-9781ae43cc67.png)

<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<met

[2022-11-22 22:42] hosseinfani commented on #179
@VaghehDashti
Please debug the code, line by line, see the predictions at each iteration, and find where there is a problem.

[2022-11-23 23:09] VaghehDashti commented on #179
@hosseinfani
I just finished debugging the code line by line and I couldn't find any problems.
The most important thing that I tested several times is that when predicting #bs outputs in either training/validation/test the weights change every time and have different outputs and all of the shapes are correct.

[2022-11-23 23:42] VaghehDashti commented on #179
@hosseinfani
Here are the loss and results of bnn_emb on dblp and imdb with averaging predictions with #bs=3:
dblp:
![f2 train_valid_loss](https://user-images.githubusercontent.com/80131857/203663283-b4a3a10b-9392-4ec6-b27d-e09e347f97ac.png)

<html><body>
<google-sheets-html-origin><style type="text/css"></style>

  | P_2 | P_5 | P_10 | rec_2 | rec_5 | rec_10 | ndcg_2 | ndcg_5 | ndcg_10 | map_2 |

[2022-11-25 13:49] hosseinfani commented on #179
I know. But you can pick two random test instances and print the predictions for each #bs iteration . Then calculate the average and std to see if std is wide or narrow. It should be  narrow I think.

[2022-11-25 13:50] hosseinfani commented on #179
Please explain the reason behind the sudden drop in loss after the epoch here by mentioning the codline.

[2022-11-27 05:46] karan96 commented on #182
@hosseinfani  Hello Dr. Fani,
This is the issue page to track our implementation of Graph Neural Network on USPT. Please feel free to elaborate or comment on what we discussed in our meeting.
Current Tasks: - To use Graph Embeddings in our Neural Networks.

[2022-11-27 08:14] hosseinfani commented on #182
@karan96
Thanks.
Based on our discussion, you want to generate the embeddings of skills, locations, and members (optional). Then use it as an input to the current fnn and bnn baselines.

Just a quick reminder that Radin's latest work is also similar idea and you should choose it as baseline:
https://github.com/radinhamidi/Retrieving-Skill-Based-Teams-from-Collaboration-Networks
https://github.com/

[2022-11-27 18:48] VaghehDashti commented on #179
@hosseinfani, The standard deviations are between 0.005 and 0.46 for each expert after 10 epochs on toy-dblp.

[2022-11-27 18:52] VaghehDashti commented on #179
@hosseinfani,
I believe the drop in loss is due to this line where we decrease the learning rate when the validation loss does not change significantly after 10 epochs.

https://github.com/fani-lab/OpeNTF/blob/148c1c2defe1176563f162ad159b2ffe0af15ecc/src/mdl/bnn.py#L111

[2022-11-27 20:14] hosseinfani commented on #179
can you draw min-max-avg chart, x: experts, y: prob, sorted on decreasing avg prob: sth like this:
![image](https://user-images.githubusercontent.com/8619934/204157562-91ec29db-fa0d-4ad3-a89e-e25480d1fda9.png)

[2022-11-27 20:17] hosseinfani commented on #179
can you try running on patience=2 on imdb or any dataset which gives you results faster?

[2022-11-27 20:31] VaghehDashti commented on #179
@hosseinfani,
Sure, I put it on imdb. It will take ~1.5 days. I'll update here.

![image](https://user-images.githubusercontent.com/8619934/204157562-91ec29db-fa0d-4ad3-a89e-e25480d1fda9.png)

Sure, I will work on it.

[2022-11-27 23:47] VaghehDashti commented on #179
@hosseinfani
Here is the plot, although it is not sorted by decreasing avg probability I think this will still give you the information you need.

![f2 train_valid_loss](https://user-images.githubusercontent.com/80131857/204166255-984bfaf9-2db3-4c1f-8ac3-f495f6eef81f.png)

[2022-11-28 00:16] hosseinfani commented on #179
@VaghehDashti
Awesome.
Can we have for #bs=3, 10 also? If we could show that the larger the bs, the wider the min-max, then we explain the reason why larger #bs leads to the poor test result.

[2022-11-28 00:43] VaghehDashti commented on #179
@hosseinfani
Sorry that was for #bs = 3.
Here is for #bs = 5:

![f2 test min-max-avg-plot](https://user-images.githubusercontent.com/80131857/204169167-d8086e2f-dc92-4b59-bc87-ba94f8ad4a01.png)

#bs=10:

![f2 test min-max-avg-plot](https://user-images.githubusercontent.com/80131857/204169189-70178855-9980-48dc-a035-b5504f6bf100.png)

#bs=50:

![f2 test min-max-avg-plot](https://user-images.githubu

[2022-11-28 03:44] hosseinfani commented on #179
@VaghehDashti doesn't make sense at all!! Or perfectly make sense. I have to talk to a statistician :)

Just in case, I believe you have bnn model saved for #bs={1,3,5,10} for imdb. Can you load them and run them on the same test set to draw these figures like toy? I know the x will be many experts.

[2022-11-28 21:15] Hamedloghmani opened #184 "Duplicate Entries in Crawling Process"
For example this repo : " Gid733/eform-items-planning-base " has been crawled twice(as shown in data.csv)
#167

[2022-11-29 17:43] VaghehDashti commented on #179
@hosseinfani,
Here is the train/val loss for patience=2 on imdb with #bs=5:
![f2 train_valid_loss](https://user-images.githubusercontent.com/80131857/204602710-fdca5b63-70f4-4dd2-b3f0-55d7c32f0cfc.png)

with patience=10 on imdb with #bs=5:
![f2 train_valid_loss](https://user-images.githubusercontent.com/80131857/204602850-6c415076-e8fb-42ee-bac7-fd5581a7828c.png)

[2022-11-29 17:52] VaghehDashti commented on #179
@hosseinfani,
Here are the results of bnn_emb on dblp, imdb, and uspt:
**imdb**:
<html><body>
<google-sheets-html-origin><style type="text/css"></style>

  | P_2 | P_5 | P_10 | rec_2 | rec_5 | rec_10 | ndcg_2 | ndcg_5 | ndcg_10 | map_2 | map_5 | map_10 | aucroc
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
bnn_emb #bs=1 | 0.0043 | 0.0051 | 0.0064 | 0.0028 | 0.0085 | 0.0196 |

[2022-11-29 19:01] hosseinfani commented on #179
@VaghehDashti
Yes, go with #bs=1